<div id="main">
    <div id="caption">
        @Html.Partial("~/Views/Shared/Partials/_logo.cshtml")
    </div>
    <div id="icons">
        <div class="icons_notify icons_notify_messages">
            <span>10</span>
        </div>
        <div class="icons_notify icons_notify_alerts">
            <span>1</span>
        </div>
        <div class="icons_notify icons_notify_appts">
            <span>1</span>
        </div>
        <div>
            <img src="~/Content/Images/icn_chat_1.png">
            <img src="~/Content/Images/icn_profile.png" />
            <img src="~/Content/Images/icn_note_1.png" />
            <img src="~/Content/Images/icn_cal_1.png" />
        </div>
    </div>
</div>
