
<header>
    <nav id="primaryNav">
        <a class="primaryNavHome" href="@Url.Action("Index","Role")">
            <img class="primaryNavHome__logo--mobile" src="~/Content/Images/dw_logo_mobile.png">
            <img class="primaryNavHome__logo" src="~/Content/Images/dwellworks_icon.png">
            <p>Destination</p>
        </a>
        
        @*<a href="@Url.Action("GetUserNotificationHistory", "NotificationHistory")">History</a>*@
        <ul class="primaryNavIconList">
            <li class="primaryNavIconList__item dropdown">
                <div class="dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                    <span id="spanNotificationCount" class="animated bounceInDown"></span>
                    <img src="~/Content/Images/icn_alert_B1.png">
                </div>
                <ul id="ulNotifications" class="dropdown-menu notification-dropdown" aria-labelledby="dropdownMenu1">
                       
                </ul>
            </li>
            <li class="primaryNavIconList__item dropdown" id="profileDropDown">
                <div class="dropdown-toggle" id="dropdownMenu2" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                    <img src="~/Content/Images/icn_profile_B1.png">
                </div>
                <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenu2">
                    <li>@Html.ActionLink("Help", "Index", "Help")</li>
                    <li role="separator" class="divider"></li>
                    <li><a href="javascript:document.getElementById('logoutForm').submit()">Logout</a></li>
                </ul>
                @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
                {
                    @Html.AntiForgeryToken()
                }
            </li>
        </ul>
    </nav>
</header>
<script>
    $(document).ready(HeaderController.init);
</script>

