<div id="main">
    <div id="caption">
        @Html.Partial("~/Views/Shared/Partials/_logo.cshtml")
    </div>
    <div id="icons">
        <div class="icons_notify icons_notify_messages">
            <img src="~/Content/Images/icn_alert_circle.png" />
            <span>10</span>
        </div>
        <div class="icons_notify icons_notify_appts">
                <img src="~/Content/Images/icn_alert_circle.png" />
                <span>01</span>
            </div>
        <div class="icons_notify icons_notify_alerts">
                <img src="~/Content/Images/icn_alert_circle.png" />
                <span>01</span>
            </div>
        <div>
            <img src="~/Content/Images/icn_profile_B1.png" />
            <img class="icons_notify" src="~/Content/Images/icn_alert_B1.png" />
            <img class="icons_notify" src="~/Content/Images/icn_cal_B1.png" />
            <img class="icons_notify" src="~/Content/Images/icn_chat_B1.png">
        </div>
    </div>
</div>
