<a class="dw_logo" href="@Url.Action("Index","Role")">
    <img class="primaryNavHome__logo--mobile" src="~/Content/Images/dw_logo_mobile.png">
    <img class="primaryNavHome__logo" src="~/Content/Images/dwellworks_icon.png">
    <p>Destination</p>
</a>