<?xml version="1.0" encoding="utf-8" ?>
<configuration  xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">

  <appSettings>
    <add key="IsLocalTestingEnvironment" value="false" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="StorageConnectionString" value="#{AzureIntegrationStorageConnectionString}#" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
  </appSettings>


  <connectionStrings>
    <add name="DefaultConnection"
         connectionString="#{AzureIntegrationDBConnectionString}#"
         xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />

  </connectionStrings>
</configuration>