@{
    ViewBag.Title = "Help Page";
    Layout = "~/Views/Shared/_Common.cshtml";
}
<div class="container-fluid" id="help">
    <div class="container-fluid" id="helpSection">
        <div class="row">
            <div class="col-md-12">
                <h1 class="sectionTitle">Help</h1>
                <p class="sectionInstruction">Learn how to install and use the Prop Bot!</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <h2 class="sectionSubHead">Installing the Prop Bot</h2>
            </div>
        </div>
        <div class="row helpRow">
            <div class="col-lg-6">
                <img src="/Content/Images/install.jpg" />
            </div>
            <div class="col-lg-6">
                <ul class="sectionList">
                    <li class="helpItem">
                        <div class="helpNum">
                            1.
                        </div>
                        <div class="helpDesc">
                            <label class="helpDesc">
                                Hold down the left click on the link below.
                            </label>
                        </div>
                    </li>
                    <li class="helpItem">
                        <div class="helpNum">
                            2.
                        </div>
                        <div class="helpDesc">
                            <label class="helpDesc">
                                Drag the link to the browser's "Favorite/Bookmark" bar and release the left click.
                                This bar is normally located near the top of the browser window.  This should create an entry for the Prop Bot.
                            </label>
                        </div>
                    </li>
                    <li class="helpItem">
                        <div class="helpNum">
                            3.
                        </div>
                        <div class="helpDesc">
                            <label class="helpDesc">
                                To test if everything is working correctly, click on the Prop Bot bookmark.
                                A window should pop up in the upper right corner of your screen.
                            </label>
                        </div>
                    </li>
                    <li class="helpItem">
                        <div class="helpNum">
                            4.
                        </div>
                        <div class="helpDesc">
                            <label class="helpDesc">
                                The Prop Bot should work in most browsers including Chrome, Firefox, and
                                Internet Explorer. However, there may be some exceptions.
                                In particular, Microsoft Edge seems to prohibit the installation of the Prop Bot.
                            </label>
                        </div>
                    </li>
                    <li>
                        <div class="well">
                            <a href="@ViewBag.PropBotScript" draggable="true"><strong>Prop Bot!</strong></a>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <h2 class="sectionSubHead">Using the Prop Bot</h2>
            </div>
        </div>
        <div class="row helpRow">
            <div class="col-lg-6">
                <img src="/Content/Images/bookmarklet.jpg" />
            </div>
            <div class="col-lg-6">
                <ul class="sectionList">
                    <li class="helpItem">
                        <div class="helpNum">
                            1.
                        </div>
                        <div class="helpDesc">
                            <label class="helpDesc">
                                Navigate to a property page on one of the Prop Bot's supported sites.
                                These sites currently include <a target="_blank" href="https://realtor.com">realtor.com</a>,
                                <a target="_blank" href="https://apartments.com">apartments.com</a>, <a target="_blank" href="https://trulia.com">trulia.com</a>, and <a target="_blank" href="https://craigslist.org">craigslist.org</a>.
                            </label>
                        </div>
                    </li>
                    <li class="helpItem">
                        <div class="helpNum">
                            2.
                        </div>
                        <div class="helpDesc">
                            <label class="helpDesc">
                                Click on the Prop Bot bookmark that you installed (as described above). The Prop Bot should
                                appear in the upper right section of your screen.
                            </label>
                        </div>
                    </li>
                    <li class="helpItem">
                        <div class="helpNum">
                            3.
                        </div>
                        <div class="helpDesc">
                            <label class="helpDesc">
                                If you are not signed in, you will prompted to do so.  After signing in, return to the
                                property page and click the Prop Bot bookmark again.  The Prop Bot should now display a notes
                                field and a button for adding the property.
                            </label>
                        </div>
                    </li>
                    <li class="helpItem">
                        <div class="helpNum">
                            4.
                        </div>
                        <div class="helpDesc">
                            <label class="helpDesc">
                                Fill in any notes you would like to make about the property, and when you are ready,
                                click the add property button.  This will send the property and it's pertinent
                                information to Odin!
                            </label>
                        </div>
                    </li>
                    <li class="helpItem">
                        <div class="helpNum">
                            5.
                        </div>
                        <div class="helpDesc">
                            <label class="helpDesc">
                                After several minutes, the property should display in your housing section.
                            </label>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <div class="btnRow">
            @Html.ActionLink("Go Home", "Index", "Role", null, new { @class = "btn btn-default" })
        </div>
    </div>
</div>

@section styles
{
    @Styles.Render("~/Styling/help")
}

@section scripts
{
    @Scripts.Render("~/Scripts/help")
    <script>
        $(document).ready(HelpIndexController.init);
    </script>
}


