@import "./definitions.scss";

html{
    background-color: white;
}

body{
    background-color:white;
}

div#itinerary {

    .sectionList {
        list-style: none;
        margin: 0;
        padding: 0;
    }

    button.btn {
        border: none;
        font-size: 1.5rem;
        text-transform: none;
    }

    .event-item {
        margin-top: 4rem;
        margin-bottom: 2rem;
    }

    .showNewAppointment {
        margin-top: 2rem;
        margin-right: 2rem;
        float: right;
        border: 1.5px solid #858585;
        font-size: 1.8rem;
        color: #858585;
    }


    p {
        font-size: 1.5rem;
        line-height: 2.5rem;
        margin: 0 0 0 0;
    }

    > .sectionList {

        li.itineraryDay {
            margin-left: inherit;
            margin-right: inherit;
            width: 100%;
        }

        @media screen and (min-width: 62rem) {
        }
    }

    .itineraryDayList {
        list-style: none;
        padding: 0;
        margin-top: 2rem;
    }


    .dayTitle {
        display: flex;
        align-content: center;
        justify-content: flex-start;
        margin: 0;
        padding: 0;

        .dayNumber {
            font-size: 4.8rem;
            font-weight: 700;
            color: #2CBFFC;
            margin: 0 0 0 0;
            padding: 0;
        }

        .dayText {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: center;
            margin-left: 0px;
            padding: 0;
        }

        .dayName {
            color: #858585;
            font-weight: 500;
            font-size: 1.8rem;
        }

        .mmmyyyy {
            color: #858585;
            font-weight: 300;
            font-size: 2rem;
        }
    }


    .eventNote {
        font-size: 1.8rem;
        color: #4E4E4E;
        font-weight: 300;
        padding: 0;
        line-height: 26px;

    }

    .eventTime {
        font-size: 1.8rem;
        color: #A7CE39;
        font-weight: 500;
        padding: 0;
        color: $DW_Green;
        line-height: 26px;

    }

    @media screen and (min-width: 48rem) {
        .sectionList {
            li.itineraryDay {
                width: 50%;
            }
        }
    }


    .sectionList li.noteEntry {
        line-height: 26px;
        margin-bottom: 1rem;
    }

    .noteRow {
        cursor: pointer;
    }

    .modal-content {
        padding: 2rem;

        .close {
            position: absolute;
            top: 3rem;
            right: 3rem;
        }
    }
}
