@import "../shared/_definitions.scss";

.scheduledServiceTitle {
    display: block;
    font-size: 1.5rem;
    font-weight: 500;
    color: #858585;
}











/*#details {
    padding-top: 10px;
    padding-left: 50px;

    p {
        padding-bottom: 0px;
        margin-bottom: 0px;
        font-size: 25px;
        color: #231F20;
    }

    div.row {
        text-align: left;
    }

    .details-title {
        padding-bottom: 30px;

    }

    .details-save {
        font-size: small;
        color: $DW_Lime;
        cursor: pointer;
    }

    hr {
        margin-top: 0px;
        margin-bottom: 0px;
    }

    .details-blue {
        color: #35A2DB;
        font-size: 16px;
    }


    .details-lime {
        color: $DW_Lime;
    }

    .details-block {
        padding-top: 15px;
        padding-bottom: 15px;

        .details-header {
            p {
                margin: 0px;
                font-size: 18px;
                font-weight: 200;
                color: #8e1a55;
            }
        }
    }

    .details-row {

        .details-col {
            padding-top: 15px;
            padding-left: 0px;
            width: 16%;

            h5 {
                display: block;
                font-size: 16px;
                font-weight: 200;
                margin-bottom: -5px;
                color: #6c6e70;
            }

            label {
                display: block;
                font-size: 16px;
                font-weight: 200;
                color: #858585;
            }

            span {
                color: #35A2DB;
                font-size: 16px;
            }

            input {
                color: $DW_Blue;
                font-size: small;
                display: none;
            }

            textarea {
                display: none;
                width: 100%;
                max-width: 100%;
                color: $DW_Blue;
                font-size: small;
            }
        }
    }
}*/
