html, body {
  background-color: #f1f1f1; }

.helpRow {
  padding-top: 2rem; }
  .helpRow img {
    margin-bottom: 2rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); }

li.helpItem {
  padding-bottom: 1.5rem; }
  li.helpItem .helpNum {
    color: #a7ce39;
    float: left;
    width: 1.5rem; }
  li.helpItem .helpDesc {
    margin-left: 1.5rem; }

