.sectionTitle {
  padding-bottom: 0px;
  margin: 2rem 0 1rem 0;
  font-size: 2.5rem;
  color: #231F20; }

.sectionSubHead {
  margin: 1rem 0 0.5rem 0;
  font-size: 1.725rem;
  font-weight: 400;
  color: #8e1a55;
  display: inline-block; }

.sectionInstruction {
  color: #35A2DB;
  font-size: 16px; }

.sectionList {
  list-style: none;
  line-height: 1.875rem;
  margin: 1rem 0 0 0;
  padding: 0; }
  .sectionList li {
    margin-bottom: 1rem;
    padding: 0; }
    .sectionList li label {
      display: block;
      font-size: 1.5rem;
      font-weight: 500;
      color: #858585;
      padding: 0;
      margin: 0;
      margin-top: 2rem; }
    .sectionList li p {
      color: #35A2DB;
      font-size: 1.5rem;
      font-weight: 400;
      margin: 0;
      padding: 0 1.25rem 0 0;
      overflow-wrap: break-word;
      word-wrap: break-word;
      -ms-word-break: break-all;
      word-break: break-all;
      word-break: break-word; }
    .sectionList li .input-group > input {
      color: #35A2DB;
      font-size: 1.5rem;
      font-weight: 400;
      margin: 0; }
    .sectionList li li.photo {
      float: left;
      margin-left: 1rem; }
    .sectionList li img.location {
      width: 70px;
      height: 70px; }
  @media screen and (min-width: 62rem) {
    .sectionList label.mobileLabel {
      display: none; } }

#propertiesHeader {
  display: none; }

li.propertyItem {
  page-break-after: always; }

.likeDislike {
  width: 100px;
  height: auto; }
  .likeDislike .likeDislike-btn, .likeDislike .like, .likeDislike .dislike {
    height: 50px;
    /*padding-left: 180px; /* Equal to width of new image */
    background-position: center center !important;
    cursor: pointer; }
  .likeDislike .like {
    /*display: none;*/ }
  .likeDislike.like .like {
    /*display: block;*/
    background: url("/Content/Images/icn_ln_selected_like.png") no-repeat; }
  .likeDislike.dislike .dislike {
    /*display: block;*/
    background: url("/Content/Images/icn_ln_selected_dislike.png") no-repeat; }

.glyphicon-calendar {
  display: none; }

.form-control {
  -webkit-box-shadow: none !important;
  box-shadow: none !important; }

