.sectionTitle {
    padding-bottom: 0px;
    margin: 2rem 0 1rem 0;
    font-size: 2.5rem;
    color: #231F20;
}
.sectionSubHead {
    margin: 1rem 0 0.5rem 0;
    font-size: 1.725rem;
    font-weight: 400;
    color: #8e1a55;
    display: inline-block;
}

.sectionInstruction {
    color: #35A2DB;
    font-size: 16px;
}

.sectionList {
    list-style: none;
    line-height: 1.875rem;
    margin: 1rem 0 0 0;
    padding: 0;

    li {
        margin-bottom: 1rem;
        padding: 0;

        label {
            display: block;
            font-size: 1.5rem;
            font-weight: 500;
            color: #858585;
            padding: 0;
            margin: 0;
            margin-top: 2rem;
        }

        p {
            color: #35A2DB;
            font-size: 1.5rem;
            font-weight: 400;
            margin: 0;
            padding: 0 1.25rem 0 0;
            overflow-wrap: break-word;
            word-wrap: break-word;
            -ms-word-break: break-all;
            word-break: break-all;
            word-break: break-word;
        }

        .input-group > input {
            color: #35A2DB;
            font-size: 1.5rem;
            font-weight: 400;
            margin: 0;
        }

        li.photo {
            float: left;
            margin-left: 1rem;
        }

        img.location {
            width: 7rem;
            height:7rem;
        }
    }

    @media screen and (min-width: 62rem) {
        label.mobileLabel {
            display: none;
        }
    }
}

#propertiesHeader {
    display: none;
}

li.propertyItem {
    page-break-after: always;
}

.likeDislike {
    width: 100px;
    height: auto;

    .likeDislike-btn {
        height: 50px;
        /*padding-left: 180px; /* Equal to width of new image */
        background-position: center center !important;
        cursor: pointer;
    }

    .like {
        @extend .likeDislike-btn;
        /*display: none;*/
    }

    .dislike {
        @extend .likeDislike-btn;
    }

    &.like {
        .like {
            /*display: block;*/
            background: url('/Content/Images/icn_ln_selected_like.png') no-repeat;
        }
    }

    &.dislike {
        .dislike {
            /*display: block;*/
            background: url('/Content/Images/icn_ln_selected_dislike.png') no-repeat;
        }
    }
}

.glyphicon-calendar {
    display: none;
}

/*.form-control {
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
}*/