@import "../shared/_definitions.scss";


#properties {
}

#propertiesFilterAdd {

    .filterNewLikeDislike {
        input {

            &:checked:before {
                background-color: $DW_Purple;
            }

            &:checked:after {
                border: none;
            }

            &:after {
            }
        }
    }
}

button#addProperty {
}



#propertiesHeader {
    p {
        color: $DW_Blue;
        white-space: pre-line;
    }
}
