#propertiesFilterAdd .filterNewLikeDislike input:checked:before {
  background-color: #621f65; }

#propertiesFilterAdd .filterNewLikeDislike input:checked:after {
  border: none; }

#propertiesHeader p {
  color: #31a4dd;
  white-space: pre-line; }

