html, body {
  background-color: #f1f1f1; }

a.dw_logo {
  display: flex;
  text-decoration: none;
  align-items: center; }
  a.dw_logo img.primaryNavHome__logo--mobile {
    display: block;
    height: 3rem;
    width: auto;
    text-decoration: none;
    margin-right: 0.325rem; }
  a.dw_logo img.primaryNavHome__logo {
    display: none; }
  a.dw_logo > p {
    text-decoration: none;
    line-height: 3rem;
    height: 3rem;
    color: #49ae44;
    font-size: 2rem;
    font-weight: 300;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    padding-left: 0.5rem;
    margin-left: 0.5rem;
    border-left: 1px solid #acacac; }
  @media screen and (min-width: 48rem) {
    a.dw_logo {
      margin-left: 0.5rem; }
      a.dw_logo img.primaryNavHome__logo--mobile {
        display: none; }
      a.dw_logo img.primaryNavHome__logo {
        display: block;
        height: 3rem;
        width: auto;
        padding-right: 0.325rem; } }
  a.dw_logo:hover > p {
    text-decoration: none; }

.centered_logo {
  display: flex;
  justify-content: center;
  margin: 3rem 0; }

.mapWrapper {
  height: 300px;
  overflow: hidden;
  position: relative; }

.img-responsive {
  height: 32rem !important;
  width: 55rem; }

img li.thumbnails-carousel, img.location {
  width: 8rem;
  height: 5rem; }

.glyphicon-chevron-left {
  margin-left: -4.2rem !important; }

.glyphicon-chevron-right {
  margin-right: -4.2rem !important; }

ul.thumbnails-carousel li img {
  max-width: 6rem !important; }

#map {
  /*height getting set in javascript because of map issue.*/
  height: 300px; }

.controlsContainer {
  border-top: 1px solid #b7a998;
  border-bottom: 1px solid #b7a998;
  padding: 1.5rem 0;
  margin-top: 2rem; }
  @media screen and (max-width: 61.875rem) {
    .controlsContainer > * {
      display: flex;
      justify-content: center; }
    .controlsContainer #housingFilter {
      margin-bottom: 3rem; } }

.housingPropertyModal__likeDislike {
  border-top: 1px solid #b7a998;
  border-bottom: 1px solid #b7a998;
  padding: 1.5rem 0;
  margin-top: 2rem; }
  @media screen and (max-width: 61.875rem) {
    .housingPropertyModal__likeDislike > * {
      display: flex;
      justify-content: center; }
    .housingPropertyModal__likeDislike #housingFilter {
      margin-bottom: 3rem; } }

.housingPropertyModal__selectRemove {
  margin-top: 3rem; }

.housingPropertyModal__select {
  width: 100%; }

.housingPropertyModal__remove {
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
  background: none;
  box-shadow: none;
  color: red;
  width: 100%;
  margin: 0 auto;
  text-align: center;
  margin-top: 2rem; }

#housingFilter {
  margin: 0;
  padding: 0; }
  #housingFilter label {
    margin: 0 0 0 0;
    margin-right: 1rem;
    cursor: pointer; }
    #housingFilter label:last-child {
      margin-right: 0; }
    #housingFilter label input[type=radio] {
      box-sizing: border-box;
      width: auto; }
      #housingFilter label input[type=radio] + span {
        font-weight: 300;
        color: #b7a998; }
      #housingFilter label input[type=radio]:checked + span {
        font-weight: 500;
        color: #621f65; }
  #housingFilter .housingFilter__title {
    font-size: 1.5rem; }

.btnAndLabel {
  display: inline-block;
  cursor: pointer;
  float: right; }
  .btnAndLabel > img {
    width: 3rem; }
  .btnAndLabel > * {
    display: inline-block;
    vertical-align: middle; }
  @media screen and (max-width: 48rem) {
    .btnAndLabel {
      float: none; } }

.btnAndLabel + .btnAndLabel {
  margin-right: 1.5rem; }

#propertiesList {
  list-style: none;
  margin: 0 0 0 0;
  padding: 0 0 0 0; }

#propertiesHeader {
  margin: 0;
  margin-top: 2rem;
  padding: 0;
  list-style: none; }
  #propertiesHeader div {
    margin: 0;
    padding: 0; }
    #propertiesHeader div p {
      color: #858585;
      line-height: 1.25rem;
      white-space: pre-line;
      text-align: center; }
  @media screen and (max-width: 62rem) {
    #propertiesHeader {
      display: none; } }

li.propertyItem.selected {
  background-color: #4b3311; }

li.propertyItem {
  margin: 0 0 0 0;
  padding: 0.5rem 0 0.5rem 0; }
  @media screen and (max-width: 61.875rem) {
    li.propertyItem {
      margin-top: 2rem;
      border-bottom: 1px solid #b7a998; } }
  li.propertyItem:hover {
    background-color: #f5f5f5;
    cursor: pointer; }
  li.propertyItem > div {
    color: #31a4dd; }
    li.propertyItem > div p {
      text-align: center;
      line-height: 1.5rem; }
    li.propertyItem > div .input-group.date, li.propertyItem > div .input-group.time {
      margin: 0 auto;
      width: auto; }
      li.propertyItem > div .input-group.date > input.form-control, li.propertyItem > div .input-group.time > input.form-control {
        text-align: center; }
    li.propertyItem > div img {
      display: block;
      margin: 0 auto; }
    @media screen and (max-width: 61.875rem) {
      li.propertyItem > div {
        margin-bottom: 2rem; }
        li.propertyItem > div p {
          text-align: left; }
        li.propertyItem > div .input-group.date, li.propertyItem > div .input-group.time {
          margin-left: 0;
          width: auto; }
          li.propertyItem > div .input-group.date > input.form-control, li.propertyItem > div .input-group.time > input.form-control {
            text-align: left; }
        li.propertyItem > div img {
          margin-left: 0; } }
    li.propertyItem > div .btn-container {
      text-align: center; }
  li.propertyItem .comments {
    position: relative; }
    li.propertyItem .comments img {
      width: 3rem;
      display: inline-block; }
    li.propertyItem .comments span {
      display: inline-block;
      position: absolute;
      top: -1rem;
      left: 2rem;
      text-align: center;
      background-color: #e53c2e;
      color: white;
      font-size: 1.25rem;
      line-height: 1.25rem;
      min-width: 2.5rem;
      padding: 0.625rem;
      border-radius: 1.25rem;
      z-index: 1; }

#propertyForm input,
#propertyForm select,
#propertyForm textarea {
  max-width: 100%; }

#propertyForm .input-group-addon {
  border: 0px;
  box-shadow: inset 0 -1px 0 #dddddd;
  padding-left: 0; }

#propertyDetailsModal h5 {
  color: #8d0b56; }

@media screen and (max-width: 61.875rem) {
  .likeDislike {
    width: 100%; } }

.likeDislike .likeDislike-btn, .likeDislike .like, .likeDislike .dislike {
  width: 50%;
  height: 5rem;
  background-position: center center !important;
  background-size: contain;
  cursor: pointer; }

.likeDislike .like {
  background: url("/Content/Images/icn_ln_non_selected_like.png") no-repeat; }

.likeDislike .dislike {
  background: url("/Content/Images/icn_ln_non_selected_dislike.png") no-repeat; }

.likeDislike[data-liked="True"] .like {
  background: url("/Content/Images/icn_ln_selected_like.png") no-repeat; }

.likeDislike[data-liked="False"] .dislike {
  background: url("/Content/Images/icn_ln_selected_dislike.png") no-repeat; }

#propertiesList[data-filter="liked"] .propertyItem[data-liked="True"] {
  display: initial; }

#propertiesList[data-filter="liked"] .propertyItem:not([data-liked="True"]) {
  display: none; }

#propertiesList[data-filter="disliked"] .propertyItem[data-liked="False"] {
  display: initial; }

#propertiesList[data-filter="disliked"] .propertyItem:not([data-liked="False"]) {
  display: none; }

#propertiesList[data-filter="new"] .propertyItem[data-liked=""] {
  display: initial; }

#propertiesList[data-filter="new"] .propertyItem:not([data-liked=""]) {
  display: none; }

#propertiesList[filter=""] .propertyItem {
  display: initial; }

