@import "../shared/_definitions.scss";


div#housing {

    .row {
        text-align: left;
        padding-left: 10px;
        padding-bottom: 20px;
        border-bottom: 2px solid lightgray;
        margin: 0px 20px 0px 20px;

        &.notfirst {
            font-size: 20px;
            padding-top: 18px;
        }

        &:nth-child(2) {

            div {
                display: inline-block;

                span {
                    margin-right: 8px;
                }

                &:nth-child(2) {
                    color: lightgray;

                    span {
                        margin-right: 15px;
                    }

                    input {
                        top: 6px;
                        margin-right: 10px;

                        &:checked:before {
                            left: -3px;
                            background-color: $DW_Purple;
                        }

                        &:checked:after {
                            border: none;
                        }

                        &:after {
                            top: 0px;
                            width: 12px;
                            height: 12px;
                        }

                        + span.selected {
                            color: $DW_LtPurple;
                        }
                    }
                }
            }

            div#add {
                float: right;
                margin-right: 12px;

                img {
                    width: 38px;
                }

                span {
                    color: $DW_Blue;
                }
            }
        }

        &:nth-child(3) {
            width: 100%;
            border-bottom: unset;

            table {
                left: -36px;
                width: 100%;
                text-align: center;
                position: relative;
                font-size: 16px;
                font-weight: 500;
                font-family: sans-serif;

                th {
                    text-align: center;
                    font-weight: normal;
                    line-height: 22px;
                    padding-top: 8px;
                    color: $DW_LtBlue;
                }

                tbody tr:hover {
                    background-color: lightgray;
                }

                td {
                    height: 84px;
                    line-height: 18px;

                    img {
                        width: 35px;

                        &.location {
                            width: 60px;
                        }

                        &.like {
                            width: 22px;
                        }

                        &.comment {
                            width: 21px;
                        }
                    }
                }

                p {
                    margin-bottom: 0px
                }

                span {
                    color: $DW_LtPurple;
                }
            }
        }

        .col-md-6 {
            p#caption {
                color: black;
                font-size: 30px;
                margin: 30px 0px 15px 0px;
            }

            &:nth-child(2) {
                padding: 0px;
                margin-top: 20px;
                max-height: 342px;
                overflow: hidden;
                //TODO: temporary until real map is in place
                img {
                    width: 100%;
                }
            }

            .col-md-5, .col-md-6 {
                padding-left: 0px;

                p {
                    font-size: 20px;
                    font-weight: 400;
                    margin-top: 10px;
                    margin-bottom: 0px;

                    &:first-of-type {
                        margin-top: 0px;
                    }
                }

                span {
                    top: -9px;
                    font-size: 16px;
                    color: $DW_Blue;
                    position: relative;
                }
            }
        }
    }

    div#chat {
        top: 92px;
        left: 642px;
        color: white;
        width: 600px;
        display: none;
        padding-top: 35px;
        position: absolute;
        border: 1px solid black;
        background-color: $DW_Lime;

        div#addr {
            font-size: 16px;
            text-align: right;
            padding-right: 40px;
            margin-bottom: 30px;

            span#lastchat {
                font-weight: bold;
            }
        }

        div#chatwrapper {
            padding: 10px 10px 42px 10px;
            background-color: white;
        }

        div#chatframe {
            color: lightgray;
            text-align: left;
            margin-bottom: 14px;
            padding: 0px 8px 1px 8px;
            background-color: white;

            ul {
                font-size: 16px;
                list-style: none;
                padding: 12px 0px 0px 12px;

                li {
                    span {
                        color: gray;
                    }

                    p {
                        color: lightgray;
                        line-height: 18px;
                    }
                }
            }

            img {
                width: 25px;
                margin-right: 20px;
            }

            div {
                margin-left: 46px;
            }
        }

        div#comment {
            height: 100px;
            color: lightgray;
            text-align: left;
            padding: 10px;
            margin: 0px 18px 20px 18px;
            border: 1px solid lightgray;
            border-top: 2px solid darkgray;
        }

        button {
            color: lightgray;
            width: 60px;
            height: 23px;
            line-height: 10px;
            border: 2px solid gray;
            background-color: white;

            &:first-of-type {
                float: left;
                margin-left: 18px;
            }

            &:last-of-type {
                float: right;
                color: $DW_Purple;
                margin-right: 18px;
                border: 2px solid $DW_Purple;
            }
        }
    }
}