.mapWrapper {
  height: 27.5rem;
  overflow: hidden;
  position: relative;
  background-image: url("");
  background-position: center;
  background-size: cover; }
  .mapWrapper img {
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    display: block;
    width: 100%; }

.controlsContainer {
  border-top: 1px solid #b7a998;
  border-bottom: 1px solid #b7a998;
  padding: 1.5rem 0;
  margin-top: 2rem; }

#housingFilter {
  margin: 0;
  padding: 0; }
  #housingFilter label {
    margin: 0 0 0 0;
    margin-right: 1rem;
    cursor: pointer; }
    #housingFilter label:last-child {
      margin-right: 0; }
    #housingFilter label input[type=radio] {
      box-sizing: border-box; }
      #housingFilter label input[type=radio] + span {
        font-weight: 300;
        color: #b7a998; }
      #housingFilter label input[type=radio]:checked + span {
        font-weight: 500;
        color: #8e1a55; }
  #housingFilter .housingFilter__title {
    font-size: 1.5rem; }

.btnAndLabel {
  display: inline-block;
  cursor: pointer; }
  .btnAndLabel > img {
    width: 3rem; }
  .btnAndLabel > * {
    display: inline-block;
    vertical-align: middle; }

.btnAndLabel + .btnAndLabel {
  margin-right: 1.5rem; }

#propertiesList {
  list-style: none;
  margin: 0 0 0 0;
  padding: 0 0 0 0; }

#propertiesHeader {
  margin: 0;
  margin-top: 2rem;
  padding: 0;
  list-style: none; }
  #propertiesHeader div {
    margin: 0;
    padding: 0; }
    #propertiesHeader div p {
      color: #31a4dd;
      line-height: 1.25rem;
      white-space: pre-line;
      text-align: center; }

.propertyItem {
  margin: 0 0 0 0;
  padding: 0.5rem 0 0.5rem 0; }
  .propertyItem:hover {
    background-color: #f5f5f5;
    cursor: pointer; }
  .propertyItem > div p {
    color: #858585;
    text-align: center;
    line-height: 1.5rem; }
  .propertyItem > div .input-group.date, .propertyItem > div .input-group.time {
    margin: 0 auto;
    width: auto; }
    .propertyItem > div .input-group.date > input.form-control, .propertyItem > div .input-group.time > input.form-control {
      text-align: center; }
  .propertyItem > div img {
    display: block;
    width: 5rem;
    margin: 0 auto; }
  .propertyItem .comments img {
    width: 3rem; }
  .propertyItem .comments {
    position: relative; }
    .propertyItem .comments span {
      position: absolute;
      top: 0;
      left: 50%;
      background-color: #e53c2e;
      color: white;
      font-size: 1.25rem;
      line-height: 1.25rem;
      min-width: 2.5rem;
      padding: 0.625rem;
      border-radius: 1.25rem;
      z-index: 1; }

#propertyForm input,
#propertyForm select,
#propertyForm textarea {
  max-width: 100%; }

#propertyForm .input-group-addon {
  border: 0px;
  box-shadow: inset 0 -1px 0 #dddddd;
  padding-left: 0; }

#propertyDetailsModal h5 {
  color: #8d0b56; }

.likeDislike {
  margin: 0 auto;
  width: auto;
  height: auto; }
  .likeDislike .likeDislike-btn, .likeDislike .like, .likeDislike .dislike {
    height: 50px;
    /*padding-left: 180px; /* Equal to width of new image */
    background-position: center center !important;
    cursor: pointer; }
  .likeDislike .like {
    background: url("/Content/Images/icn_ln_non_selected_like.png") no-repeat; }
  .likeDislike .dislike {
    background: url("/Content/Images/icn_ln_non_selected_dislike.png") no-repeat; }
  .likeDislike.like .like {
    background: url("/Content/Images/icn_ln_selected_like.png") no-repeat; }
  .likeDislike.dislike .dislike {
    background: url("/Content/Images/icn_ln_selected_dislike.png") no-repeat; }

