@import "../shared/_definitions.scss";

div[data-notify].alert-success {
    background-color: $DW_LtPurple;
}

div[data-notify].alert-danger {
    background-color: $DW_Red;
}


div#intake {
    padding-top: 30px;
    padding-left: 25px;
    margin-left: 20px;    

    div.row {
        text-align: left;
        margin: 0px;
    }

    .intake-title {
        padding-bottom: 30px;

        p {
            color: black;
            font-size: 30px;
            margin-bottom: 0px;
            /*margin: 30px 0px 15px 0px;*/
        }
    }

    hr {
        border-color: lightgray;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .intake-blue {
        color: $DW_Blue;
    }

    .intake-lime {
        color: $DW_Lime;
    }

    .intake-block {
        padding-top: 10px;
        padding-bottom: 10px;

        .intake-header {

            .intake-collapse {
                cursor: pointer;
            }

            h5 {
                margin-top: 0px;
                font-size: 22px
            }

            .intake-edit, .intake-save {
                font-size: 20px;
                color: $DW_Lime;
                cursor: pointer;
            }

            .intake-cancel {
                display: none;
                font-size: 20px;
                color: $DW_Red;
                cursor: pointer;
                padding-left: 15px;
            }

            .intake-expand-img {
                display: none;
            }
        }

        .intake-row {

            .intake-col {
                padding-top:10px;
                min-height: 70px;

                label {
                    display: block;
                    font-size: 20px;
                    margin-bottom: -5px;
                }

                .intake-span {
                    color: $DW_Blue;
                    font-size: 16px;
                }

                .intake-add {
                    padding-top: 10px;
                    padding-bottom: 10px;
                    font-size: 20px;
                    color: $DW_Lime;
                    cursor: pointer;
                    display: block;
                }

                .intake-del {
                    font-size: 20px;
                    color: $DW_Red;
                    cursor: pointer;
                }

                .intake-input {
                    color: $DW_Blue;
                    font-size: 16px;
                    display: none;
                    width: 100%;
                    min-width: 100%;
                }

                .intake-service-input {
                    display: block;
                    line-height: 20px;
                }

                .intake-date {
                    display: none;

                    input {
                        color: $DW_Blue;
                        font-size: 16px;
                        display: none;
                    }

                    span {
                        color: $DW_Blue;
                    }
                }
            }

            .intake-col-add {
                min-height: 0px;
            }
        }
    }
}