div#intake {
  padding-top: 30px;
  padding-left: 10px;
  margin-left: 20px; }
  div#intake div.row {
    text-align: left; }
  div#intake .intake-title {
    padding-bottom: 30px; }
    div#intake .intake-title p {
      color: black;
      font-size: 30px;
      margin-bottom: 0px;
      /*margin: 30px 0px 15px 0px;*/ }
  div#intake hr {
    margin-top: 0px;
    margin-bottom: 0px; }
  div#intake .intake-blue {
    color: #31a4dd; }
  div#intake .intake-lime {
    color: #a7ce39; }
  div#intake .intake-block {
    padding-top: 10px;
    padding-bottom: 10px; }
    div#intake .intake-block .intake-header .intake-collapse {
      cursor: pointer; }
    div#intake .intake-block .intake-header h5 {
      margin-top: 0px; }
    div#intake .intake-block .intake-header .intake-edit, div#intake .intake-block .intake-header .intake-save {
      font-size: medium;
      color: #a7ce39;
      cursor: pointer; }
    div#intake .intake-block .intake-header .intake-cancel {
      display: none;
      font-size: medium;
      color: #e53c2e;
      cursor: pointer;
      padding-left: 15px; }
    div#intake .intake-block .intake-header .intake-expand-img {
      display: none; }
    div#intake .intake-block .intake-row .intake-col {
      min-height: 50px; }
      div#intake .intake-block .intake-row .intake-col label {
        display: block;
        font-size: medium;
        margin-bottom: -5px; }
      div#intake .intake-block .intake-row .intake-col .intake-span {
        color: #31a4dd;
        font-size: small; }
      div#intake .intake-block .intake-row .intake-col .intake-add {
        padding-top: 10px;
        padding-bottom: 10px;
        font-size: medium;
        color: #a7ce39;
        cursor: pointer;
        display: block; }
      div#intake .intake-block .intake-row .intake-col .intake-del {
        font-size: medium;
        color: #e53c2e;
        cursor: pointer; }
      div#intake .intake-block .intake-row .intake-col .intake-input {
        color: #31a4dd;
        font-size: small;
        display: none;
        width: 100%;
        min-width: 100%; }
      div#intake .intake-block .intake-row .intake-col .intake-service-input {
        display: block;
        line-height: 20px; }
      div#intake .intake-block .intake-row .intake-col .intake-date {
        display: none; }
        div#intake .intake-block .intake-row .intake-col .intake-date input {
          color: #31a4dd;
          font-size: small;
          display: none; }
        div#intake .intake-block .intake-row .intake-col .intake-date span {
          color: #31a4dd; }

