@import "../shared/_definitions.scss";


div#intake {
    padding-top: 30px;
    padding-left: 50px;

    div.row {
        text-align: left;
    }

    .intake-title {
        padding-bottom: 30px;
    }

    hr {
        margin-top: 0px;
        margin-bottom: 0px;
    }

    .intake-blue {
        color: $DW_Blue;
    }

    .intake-lime {
        color: $DW_Lime;
    }

    .intake-block {
        padding-top: 35px;
        padding-bottom: 35px;

        .intake-header {
            h5 {
                margin-top: 0px
            }

            .intake-edit, .intake-save {
                font-size: medium;
                color: $DW_Lime;
                cursor: pointer;
            }

            .intake-cancel {
                display: none;
                font-size: medium;
                color: $DW_Red;
                cursor: pointer;
                padding-left: 15px;
            }
        }

        .intake-row {

            .intake-col {
                padding-top: 15px;

                label {
                    display: block;
                    font-size: medium;
                    margin-bottom: -5px;
                }

                .intake-span {
                    color: $DW_Blue;
                    font-size: small;
                }

                .intake-add {
                    font-size: medium;
                    color: $DW_Lime;
                    cursor: pointer;
                }

                .intake-del {
                    font-size: medium;
                    color: $DW_Red;
                    cursor: pointer;
                }

                .intake-input {
                    color: $DW_Blue;
                    font-size: small;
                    display: none;
                    width: 100%;
                    min-width: 100%;
                }

                .intake-service-input {
                    display: block;
                    line-height: 20px;
                }

                .intake-date {
                    display: none;

                    input {
                        color: $DW_Blue;
                        font-size: small;
                        display: none;                        
                    }

                    span {
                        color:$DW_Blue;
                    }
                }
            }
        }
    }
}