html, body {
  background-color: #f1f1f1; }

a.dw_logo {
  display: flex;
  text-decoration: none;
  align-items: center; }
  a.dw_logo img.primaryNavHome__logo--mobile {
    display: block;
    height: 3rem;
    width: auto;
    text-decoration: none;
    margin-right: 0.325rem; }
  a.dw_logo img.primaryNavHome__logo {
    display: none; }
  a.dw_logo > p {
    text-decoration: none;
    line-height: 3rem;
    height: 3rem;
    color: #49ae44;
    font-size: 2rem;
    font-weight: 300;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    padding-left: 0.5rem;
    margin-left: 0.5rem;
    border-left: 1px solid #acacac; }
  @media screen and (min-width: 48rem) {
    a.dw_logo {
      margin-left: 0.5rem; }
      a.dw_logo img.primaryNavHome__logo--mobile {
        display: none; }
      a.dw_logo img.primaryNavHome__logo {
        display: block;
        height: 3rem;
        width: auto;
        padding-right: 0.325rem; } }
  a.dw_logo:hover > p {
    text-decoration: none; }

.centered_logo {
  display: flex;
  justify-content: center;
  margin: 3rem 0; }

ul.thumbnails-carousel li img {
  max-width: 6rem !important; }

.img-responsive {
  height: 32rem !important;
  width: 55rem; }

img li.thumbnails-carousel, img.location {
  width: 5rem;
  height: 3rem; }

.glyphicon-chevron-left {
  margin-left: -4.2rem !important; }

.glyphicon-chevron-right {
  margin-right: -4.2rem !important; }

div#itinerary .sectionList {
  list-style: none;
  margin: 0;
  padding: 0; }

div#itinerary button.btn {
  border: none;
  font-size: 1.5rem;
  text-transform: none; }

div#itinerary .event-item {
  margin-top: 4rem;
  margin-bottom: 2rem; }

div#itinerary .showNewAppointment {
  margin-top: 2rem;
  margin-right: 2rem;
  float: right;
  border: 1.5px solid #858585;
  font-size: 1.8rem;
  color: #858585; }

div#itinerary p {
  font-size: 1.5rem;
  line-height: 2.5rem;
  margin: 0 0 0 0; }

div#itinerary > .sectionList li.itineraryDay {
  margin-left: inherit;
  margin-right: inherit;
  width: 100%; }

div#itinerary .itineraryDayList {
  list-style: none;
  padding: 0;
  margin-top: 2rem; }

div#itinerary .dayTitle {
  display: flex;
  align-content: center;
  justify-content: flex-start;
  margin: 0;
  padding: 0; }
  div#itinerary .dayTitle .dayNumber {
    font-size: 4.8rem;
    font-weight: 700;
    color: #2CBFFC;
    margin: 0 0 0 0;
    padding: 0; }
  div#itinerary .dayTitle .dayText {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin-left: 0px;
    padding: 0; }
  div#itinerary .dayTitle .dayName {
    color: #858585;
    font-weight: 500;
    font-size: 1.8rem; }
  div#itinerary .dayTitle .mmmyyyy {
    color: #858585;
    font-weight: 300;
    font-size: 2rem; }

div#itinerary .eventNote {
  font-size: 1.8rem;
  color: #4E4E4E;
  font-weight: 300;
  margin: 0px;
  padding: 0;
  line-height: 2rem; }

div#itinerary .eventTime {
  font-size: 1.8rem;
  color: #A7CE39;
  font-weight: 500;
  margin: 0px;
  padding: 0;
  color: #49ae44;
  line-height: 2rem; }

@media screen and (min-width: 48rem) {
  div#itinerary .sectionList li.itineraryDay {
    width: 50%; } }

.sectionList li.noteEntry {
  line-height: 1rem;
  margin-bottom: 0rem; }

.noteRow {
  cursor: pointer; }

.modal-content {
  padding: 2rem; }
  .modal-content .close {
    position: absolute;
    top: 3rem;
    right: 3rem; }

