body {
  padding-top: 0px; }

div.container.body-content {
  width: auto;
  padding-right: 0px; }
  div.container.body-content div.row {
    margin: 0px;
    height: 886px;
    max-width: 100%;
    max-height: 100%;
    overflow: hidden; }
  div.container.body-content div.col-md-4 {
    height: 852px;
    margin-top: 32px; }
    @media screen and (max-width: 992px) {
      div.container.body-content div.col-md-4 {
        padding-right: 120px; } }
    div.container.body-content div.col-md-4 div#caption {
      line-height: 44px;
      padding-top: 60px;
      font-size: xx-large;
      text-align: center;
      margin-bottom: 97px; }
      div.container.body-content div.col-md-4 div#caption span#Odin {
        color: #4BAD48; }
  div.container.body-content div.col {
    width: 66%;
    position: relative;
    display: inline-block; }
    @media screen and (max-width: 992px) {
      div.container.body-content div.col {
        display: none; } }
    div.container.body-content div.col p {
      margin: 0px; }
    div.container.body-content div.col img {
      width: 100%;
      opacity: 0.5; }
      div.container.body-content div.col img:nth-child(2) {
        top: 0px;
        opacity: 0.7;
        position: fixed; }
        div.container.body-content div.col img:nth-child(2).IEorEdge {
          left: 33.7%; }
    div.container.body-content div.col div#labels-box {
      color: white;
      position: absolute;
      top: 150px;
      left: 186px; }
    div.container.body-content div.col div.text-lables:nth-child(1) {
      line-height: 62px;
      font-family: sans-serif;
      font-size: 50px;
      font-weight: bold; }
    div.container.body-content div.col div.text-lables:nth-child(2) {
      margin-top: 40px;
      font-size: 24px;
      line-height: 30px; }
  div.container.body-content div.form-group div.col-md-10 {
    padding-left: 88px;
    padding-right: 0px; }
  div.container.body-content div.form-group label {
    text-align: left;
    padding-left: 0px; }
  div.container.body-content div.form-group div.passwd {
    text-align: center;
    margin-top: 116px;
    margin-left: 0px;
    padding: 0px;
    width: 100%; }
  div.container.body-content div.form-group input {
    max-width: none; }
    div.container.body-content div.form-group input.btn {
      color: white;
      width: 154px;
      height: 30px;
      box-shadow: none;
      margin-bottom: 5px;
      line-height: 10px;
      background-color: #48AD48; }
  div.container.body-content p#forgot {
    text-align: center; }
  div.container.body-content div#dwellworks {
    margin-top: 196px;
    text-align: center; }
    div.container.body-content div#dwellworks p {
      display: inline-block; }
      div.container.body-content div#dwellworks p:first-of-type {
        border-left: 1px solid gray;
        margin-left: 4px;
        top: -2px;
        height: 21px;
        position: relative; }
      div.container.body-content div#dwellworks p:last-of-type {
        top: -3px;
        font-size: large;
        color: #4BAD48;
        font-size: 20px;
        font-family: sans-serif; }

