@{
    ViewBag.Title = "Orders Page";
    Layout = "~/Views/Shared/_Common.cshtml";
}

<div id="list">
    <div id="search">
            <input id="searchbox"/><button>Search</button>
        </div>
    <div>
        <table class="desktop">
            <thead>
                <tr>
                    <th class="first">
                        <div>
                            <img class="arrow up name" src="~/Content/Images/icn_up_arrow.png"/>
                            <img class="arrow down name noinit" src="~/Content/Images/icn_down_arrow.png" />
                            <img class="arrow upsel name noinit" src="~/Content/Images/icn_up_sel_arrow.png" />
                        </div>
                        <p>Transferee</p>
                    </th>
                    <th class="second">
                        <p>Authorized Tasks</p>
                    </th>
                    <th class="third">
                        <div>
                            <img class="arrow up date"  data-field="lastContacted" src="~/Content/Images/icn_up_arrow.png" />
                            <img class="arrow down date noinit"  data-field="lastContacted" src="~/Content/Images/icn_down_arrow.png" />
                            <img class="arrow upsel date noinit" data-field="lastContacted" src="~/Content/Images/icn_up_sel_arrow.png" />
                        </div>
                        <p>Last Contacted</p>
                    </th>
                    <th class="fourth">
<!-- until sorting is decided-->
                        <div style="display: none">
                            <img class="arrow up" src="~/Content/Images/icn_up_arrow.png" />
                            <img class="arrow down noinit" src="~/Content/Images/icn_down_arrow.png" />
                            <img class="arrow upsel noinit" src="~/Content/Images/icn_up_sel_arrow.png" />
                        </div>
                        <p style="padding-top: 13px">Manager</p>
                    </th>
                    <th class="fifth">
                        <div>
                            <img class="arrow up date" data-field="preTrip" src="~/Content/Images/icn_up_arrow.png" />
                            <img class="arrow down date noinit" data-field="preTrip" src="~/Content/Images/icn_down_arrow.png" />
                            <img class="arrow upsel date noinit" data-field="preTrip" src="~/Content/Images/icn_up_sel_arrow.png" />
                        </div>
                        <p>PreTrip</p>
                    </th>
                    <th class="sixth">
                        <div>
                            <img class="arrow up date"  data-field="finalArrival" src="~/Content/Images/icn_up_arrow.png" />
                            <img class="arrow down date noinit"  data-field="finalArrival" src="~/Content/Images/icn_down_arrow.png" />
                            <img class="arrow upsel date noinit" data-field="finalArrival" src="~/Content/Images/icn_up_sel_arrow.png" />
                        </div>
                        <p>Final Arrival</p>
                    </th>
                    <th class="seventh">
                        <div>
                            <img class="arrow up number" src="~/Content/Images/icn_up_arrow.png" />
                            <img class="arrow down number noinit" src="~/Content/Images/icn_down_arrow.png" />
                            <img class="arrow upsel number noinit" src="~/Content/Images/icn_up_sel_arrow.png" />
                        </div>
                        <p>Notification</p>
                    </th>
                </tr>
            </thead>
            <tbody> 
            </tbody>
        </table>
        <table class="tablet">
            <thead>
                <tr>
                    <th class="first">
                        <div>
                            <img class="arrow up name" src="~/Content/Images/icn_up_arrow.png" />
                            <img class="arrow down name noinit" src="~/Content/Images/icn_down_arrow.png" />
                            <img class="arrow upsel name noinit" src="~/Content/Images/icn_up_sel_arrow.png" />
                        </div>
                        <p>Transferee</p>
                    </th>
                    <th class="second">
<!-- until sorting is decided-->
                        <div style="display: none">
                            <img class="arrow up" src="~/Content/Images/icn_up_arrow.png" />
                            <img class="arrow down noinit" src="~/Content/Images/icn_down_arrow.png" />
                            <img class="arrow upsel noinit" src="~/Content/Images/icn_up_sel_arrow.png" />
                        </div>
                        <p style="padding-top: 13px">Manager</p>
                    </th>
                    <th class="third">
                        <div>
                            <img class="arrow up date"  data-field="lastContacted" src="~/Content/Images/icn_up_arrow.png" />
                            <img class="arrow down date noinit"  data-field="lastContacted" src="~/Content/Images/icn_down_arrow.png" />
                            <img class="arrow upsel date noinit" data-field="lastContacted" src="~/Content/Images/icn_up_sel_arrow.png" />
                        </div>
                        <p>Last Contacted</p>
                    </th>
                    <th class="fourth">
                        <p>Authorized Tasks</p>
                    </th>
                    <th class="fifth">
                        <div>
                            <img class="arrow up number" src="~/Content/Images/icn_up_arrow.png" />
                            <img class="arrow down number noinit" src="~/Content/Images/icn_down_arrow.png" />
                            <img class="arrow upsel number noinit" src="~/Content/Images/icn_up_sel_arrow.png" />
                        </div>
                        <p>Notification</p>
                    </th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
        <table class="mobile">
            <thead>
                <tr>
                    <th class="first">
                        <div>
                            <img class="arrow up name" src="~/Content/Images/icn_up_arrow.png" />
                            <img class="arrow down name noinit" src="~/Content/Images/icn_down_arrow.png" />
                            <img class="arrow upsel name noinit" src="~/Content/Images/icn_up_sel_arrow.png" />
                        </div>
                        <p>Transferee</p>
                    </th>
                    <th class="second">
                        <div>
                            <img class="arrow up date"  data-field="lastContacted" src="~/Content/Images/icn_up_arrow.png" />
                            <img class="arrow down date noinit"  data-field="lastContacted" src="~/Content/Images/icn_down_arrow.png" />
                            <img class="arrow upsel date noinit" data-field="lastContacted" src="~/Content/Images/icn_up_sel_arrow.png" />
                        </div>
                        <p>Last Contacted</p>
                    </th>
                    <th class="third">
                        <div>
                            <img class="arrow up number" src="~/Content/Images/icn_up_arrow.png" />
                            <img class="arrow down number noinit" src="~/Content/Images/icn_down_arrow.png" />
                            <img class="arrow upsel number noinit" src="~/Content/Images/icn_up_sel_arrow.png" />
                        </div>
                        <p>Notification</p>
                    </th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
</div>

@section styles
{
    @Styles.Render("~/Styling/orders")
}


@section scripts
{
    @Scripts.Render("~/Scripts/orders")
    
    <script>
        $(document).ready(OrdersPageController.OrdersPageInit);
    </script>
}