@{
    ViewBag.Title = "Transferee Page";
    Layout = "~/Views/Shared/_Common.cshtml";
}

    <header class="container-fluid">
        <nav id="transfereeSideNav">
            <div class="transfereeSideNav__person">
                <img class="person" src="~/Content/Images/icn_person.png"/>
                <p class="eeName">Victoria A. Sporer</p>
                <p>Domestic | VIP</p>
                <p>Acme</p>
                <p>Road Runner LLC.</p>
            </div>
            <hr class="transfereeSideNav__rule"/>
            <ul class="transfereeSideNav__items">
                <li class="item selected" data-panel="intake">
                    <a href="#intake">
                        <img src="~/Content/Images/icn_intake.png" />
                        <label>Intake</label>
                    </a>
                </li>
                <li class="item" data-panel="details">
                    <a href="#details">
                        <img src="~/Content/Images/icn_details.png" />
                        <label>Details</label>
                    </a>
                </li>
                <li class="item" data-panel="housing">
                    <a href="#housing">
                        <img src="~/Content/Images/icn_housing.png"/>
                        <label>Housing</label>
                    </a>
                </li>
                <li class="item" data-panel="history">
                    <a href="#history">
                        <img src="~/Content/Images/icn_history.png"/>
                        <label>History</label>
                    </a>
                </li>
                <hr class="transfereeSideNav__rule" />
                <li class="item" data-panel="messages">
                    <a>
                        <img src="~/Content/Images/icn_internal_messages.png"/>
                        <label>Messages</label>
                    </a>
                </li>
                <li class="item" data-panel="itinerary">
                    <a>
                        <img src="~/Content/Images/icn_internal_itinerary.png"/>
                        <label>Itinerary</label>
                    </a>
                </li>
            </ul>
        </nav>
    </header>

    <div class="container" id="orderContainer">
        @*@Html.Partial("~/Views/Orders/Partials/_Intake.cshtml")*@
    </div>

@section styles
{
    @Styles.Render("~/Styling/transferee")
}

@section scripts
{
    
    @Scripts.Render("~/Scripts/transferee")

    <script>
            var currentOrderId = '@ViewBag.Id';

            $(document).ready(function () {
                OrdersPageController.TransfereeInit();
                TransfereeDetailsController.init();
                TransfereeHousingController.init();
            });
    </script>
}