.helpRow {
    padding-top: 2rem;

    img {
        margin-bottom: 2rem;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }
}

li.helpItem {
    padding-bottom: 1.5rem;

    .helpNum {
        color: $DW_Lime;
        float:left;
        width: 1.5rem;
    }

    .helpDesc {
        margin-left:1.5rem;
    }
}
