html {
    height: auto;
}

body {
    height: auto;
    background: #fff;
}

p.spacer {
    display: block;
}

.propertiesBlock {
    margin-top: 1rem;
}

.photoTable {
    tr {
        height: 11rem;
    }
}

.pdfTitle {
    padding-top: 3rem;
}

.sectionTable {
    line-height: 1.875rem;
    margin: 1rem 0 0 0;
    padding: 0;

    caption {
        display: block;
        font-size: 1.5rem;
        font-weight: 500;
        color: #858585;
        padding: 0;
        margin: 1.5rem 0 1rem 1.2rem;
        vertical-align: top;
    }


    td {
        margin-bottom: 1rem;
        padding: 0;

        label {
            display: block;
            font-size: 1.5rem;
            font-weight: 500;
            color: #858585;
            padding: 0;
            vertical-align: top;
        }

        p {
            color: #35A2DB;
            font-size: 1.5rem;
            font-weight: 400;
            margin: 0;
            padding: 0;
            overflow-wrap: break-word;
            word-wrap: break-word;
            -ms-word-break: break-all;
            word-break: break-all;
            word-break: break-word;
            vertical-align: top;
            text-align: right;
        }

        td.photo {
            margin: .5rem;
        }

        img.location {
            width: 14rem;
            height: 10rem;
            margin-left: 1rem;
        }
    }
}

.propertyBody {
    padding-top: 3rem;
}

.sectionRow {
    line-height: 1.875rem;
    margin: 1rem 0 0 0;
    padding: 0;
    display: block;

    .itemUnit {
        margin: 1rem;
        padding: 0;
        display: inline-block;
        vertical-align: top;
        width: 22%;
    }

    label {
        display: block;
        font-size: 1.5rem;
        font-weight: 500;
        color: #858585;
        padding: 0;
        margin: 0;
        vertical-align: top;
        text-align: left;
    }

    p {
        color: #35A2DB;
        font-size: 1.25rem;
        font-weight: 400;
        margin: 0;
        margin-top: 1rem;
        overflow-wrap: break-word;
        word-wrap: break-word;
        -ms-word-break: break-all;
        word-break: break-all;
        word-break: break-word;
        vertical-align: top;
        text-align: left;
    }

    .addressPDF {
        margin: 1rem;
        padding: 0;
        display: inline-block;
        vertical-align: top;
        width: 22%;
        //width: 30%;
        label {
            text-align: left;
        }

        p {
            text-align: left;
        }
    }

    td.photo {
        margin: .5rem;
    }

    img.location {
        width: 14rem;
        height: 10rem;
        margin-left: 1rem;
    }
}

#propertiesHeader {
    display: none;
}

td.propertyItem {
    /*page-break-after: always;*/
    width: 25%;
    vertical-align: text-top;
}

.breakhere {
    page-break-after: always
}
