
div#intake {


    div.row {
        text-align: left;
        margin: 0px;
    }

    .intake-title {
        padding-bottom: 30px;

        p {
            color: black;
            font-size: 30px;
            margin-bottom: 0px;
            /*margin: 30px 0px 15px 0px;*/
        }
    }

    hr {
        border-color: lightgray;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .intake-blue {
        color: $DW_Blue;
    }

    .intake-lime {
        color: $DW_Lime;
    }

    .intake-block {
        padding-top: 10px;
        padding-bottom: 10px;

        .intake-header {

            .intake-collapse {
                cursor: pointer;
                display: inline;

                img {
                    margin-bottom: 3px;
                    margin-right: 8px;
                    height: 1.6rem;
                    width: 1.5rem;
                }
            }

            .intake-cancel {
                display: none;
                color: $DW_Red;
                padding-left: 15px;
            }

            .intake-expand-img {
                display: none;
            }
        }

        .intake-row {

            .intake-col {
                padding-top: 10px;
                min-height: 70px;

                label {
                    display: block;
                }

                .intake-span {
                    color: $DW_Blue;
                    font-size: 1.6rem;
                }

                .intake-input {
                    color: $DW_Blue;
                    font-size: 16px;
                    display: none;
                    width: 100%;
                    min-width: 100%;
                }

                .intake-service-input {
                    display: block;
                    line-height: 20px;
                }

                .intake-date {
                    display: none;

                    input {
                        color: $DW_Blue;
                    }
                }
            }

            .intake-col-add {
                min-height: 0px;
            }
        }
    }


    .invite-block {
        padding: 1rem;
        background-color: #f3f8fd;
        border-radius: 0.25rem;
        border: 1px solid #2196f3;

        p{
            margin-bottom: 0;
        }
    
        h2.sectionSubHead{
            color:#2196f3;
        }
        
        
   }
}