
//----  variables
$DW_LtBlue: #73c2ed;
$DW_Blue: #31a4dd;
$DW_Green: #49ae44;
$DW_Lime: #a7ce39;
$DW_Brown: #4b3311;
$DW_Red: #e53c2e;
$DW_LtPurple: #8d0b56;
$DW_Gray: #b7a998;
$DW_Purple: #621f65;
$DW_Hover: #f5f5f5;

$logoHeight: 3rem;
$primaryNavHeightLg: $logoHeight + 5rem;
$primaryNavHeightSm: $logoHeight + 2rem;
$sideNavWidth: 21rem; 