
//----  variables
$DW_LtBlue: #73c2ed;
$DW_Blue: #31a4dd;
$DW_Green: #49ae44;
$DW_Lime: #a7ce39;
$DW_Brown: #4b3311;
$DW_Red: #e53c2e;
$DW_LtPurple: #8d0b56;
$DW_Gray: #b7a998;
$DW_Purple: #621f65;
$DW_Hover: #f5f5f5;

$logoHeight: 3rem;
$primaryNavHeightLg: $logoHeight + 5rem;
$primaryNavHeightSm: $logoHeight + 2rem;
$sideNavWidth: 21rem; 


html,body{
    background-color: #f1f1f1;
}

a.dw_logo {
    display: flex;
    text-decoration: none;
    align-items: center;

    img.primaryNavHome__logo--mobile {
        display: block;
        height: $logoHeight;
        width: auto;
        text-decoration: none;
        margin-right: 0.325rem;
    }

    img.primaryNavHome__logo {
        display: none;
    }

    > p {
        text-decoration: none;
        line-height: $logoHeight;
        height: $logoHeight;
        color: $DW_Green;
        font-size: 2rem;
        font-weight: 300;
        margin: 0 0 0 0; //die bootstrap die
        padding: 0 0 0 0; //die bootstrap die
        padding-left: 0.5rem;
        margin-left: 0.5rem;
        border-left: 1px solid #acacac;
    }

    @media screen and (min-width: 48rem) {
        margin-left: 0.5rem;

        img.primaryNavHome__logo--mobile {
            display: none;
        }

        img.primaryNavHome__logo {
            display: block;
            height: $logoHeight;
            width: auto;
            padding-right: 0.325rem;
        }
    }

    &:hover{
        >p{
            text-decoration: none;
        }
    }
}

.centered_logo{
    display: flex;
    justify-content: center;
    margin: 3rem 0;
}