
//----  variables
$DW_LtBlue: #73c2ed;
$DW_Blue: #31a4dd;
$DW_Green: #49ae44;
$DW_Lime: #a7ce39;
$DW_Brown: #4b3311;
$DW_Red: #e53c2e;
$DW_LtPurple: #8d0b56;
$DW_Gray: #b7a998;
$DW_Purple: #621f65;


//---- mixins
@mixin header {

    div#main {
        position: fixed;
        width: 100%;
        top: 0;
        z-index: 1;
        background-color: white;

        div#caption {
            width: 48%;
            height: 118px;
            padding-top: 44px;
            vertical-align: top;
            display: inline-block;

            @include logo(0px, left, 30px);
        }

        div#icons {
            float: right;
            width: 50%;
            height: 118px;
            margin-right: 3px;
            padding-top: 30px;
            vertical-align: top;
            display: inline-block;

            div {
                float: right;
                display: inline-block;

                &.icons_notify {
                    font-size: small;
                    color: white;
                    position: relative;
                    font-weight: bold;
                    display: inline-block;
                    width: 10px;
                    text-align: center;

                    img {
                        width: 26px;
                    }

                    &.icons_notify_messages {
                        top: -2px;
                        left: -321px;

                        span {
                            position: relative;
                            top: -33px;
                            left: -19px;
                        }
                    }

                    &.icons_notify_alerts {
                        top: -2px;
                        left: -104px;

                        span {
                            position: relative;
                            top: -33px;
                            left: -17px;
                        }
                    }

                    &.icons_notify_appts {
                        top: -2px;
                        left: -204px;

                        span {
                            position: relative;
                            top: -33px;
                            left: -18px;
                        }
                    }
                }

                img {
                    float: right;
                    width: 50px;
                    margin: 8px;

                    &.icons_notify {
                        margin-right: 40px;
                    }
                }
            }
        }
    }
}

@mixin mobile_header {
    div#caption {
        height: 66px !important;
        padding-top: 20px !important;
        text-align: center;
        width: 90% !important;
        display: block !important;

        div#dwellworks {
            text-align: center !important;
        }
    }

    div#icons {
        height: 70px !important;
        text-align: center;
        padding-top: 0px !important;
        float: none !important;
        width: 90% !important;
        display: block !important;
        margin-bottom: 0px;

        div {
            float: none !important;

            &.icons_notify {
                &.icons_notify_messages {
                    top: -14px !important;
                    left: 96px !important;
                }

                &.icons_notify_alerts {
                    top: -14px !important;
                    left: 265px !important;
                }

                &.icons_notify_appts {
                    top: -14px !important;
                    left: 190px !important;
                }
            }
        }
    }
}

@mixin logo($topMargin, $align: center, $padleft: 0px) {
    
    div#dwellworks {
        margin-top: $topMargin;
        text-align: $align;
        padding-left: $padleft;

        &.mailer {
            margin-top: 40px;
        }

        p {
            display: inline-block;

            &:first-of-type {
                border-left: 1px solid gray;
                margin-left: 4px;
                top: -2px;
                height: 21px;
                position: relative;
            }

            &:last-of-type {
                top: -3px;
                font-size: large;
                color: $DW_Green;
                font-size: 20px;
                font-family: sans-serif;
            }
        }
    }
 }