div#details hr{
    margin-top:1rem;
    margin-bottom:1rem;
}
.scheduledServiceTitle {
    display: block;
    font-size: 1.5rem;
    font-weight: 500;
    color: #858585;
}

.mobileLabel{
            color: red;
        }