div[data-notify].alert-success {
  background-color: #8d0b56; }

div[data-notify].alert-danger {
  background-color: #e53c2e; }

div#intake div.row {
  text-align: left;
  margin: 0px; }

div#intake .intake-title {
  padding-bottom: 30px; }
  div#intake .intake-title p {
    color: black;
    font-size: 30px;
    margin-bottom: 0px;
    /*margin: 30px 0px 15px 0px;*/ }

div#intake hr {
  border-color: lightgray;
  margin-top: 10px;
  margin-bottom: 10px; }

div#intake .intake-blue {
  color: #31a4dd; }

div#intake .intake-lime {
  color: #a7ce39; }

div#intake .intake-block {
  padding-top: 10px;
  padding-bottom: 10px; }
  div#intake .intake-block .intake-header .intake-collapse {
    cursor: pointer;
    display: inline; }
    div#intake .intake-block .intake-header .intake-collapse img {
      margin-bottom: 3px;
      margin-right: 8px;
      height: 1.6rem;
      width: 1.5rem; }
  div#intake .intake-block .intake-header .intake-cancel {
    display: none;
    color: #e53c2e;
    padding-left: 15px; }
  div#intake .intake-block .intake-header .intake-expand-img {
    display: none; }
  div#intake .intake-block .intake-row .intake-col {
    padding-top: 10px;
    min-height: 70px; }
    div#intake .intake-block .intake-row .intake-col label {
      display: block; }
    div#intake .intake-block .intake-row .intake-col .intake-span {
      color: #31a4dd;
      font-size: 1.6rem; }
    div#intake .intake-block .intake-row .intake-col .intake-input {
      color: #31a4dd;
      font-size: 16px;
      display: none;
      width: 100%;
      min-width: 100%; }
    div#intake .intake-block .intake-row .intake-col .intake-service-input {
      display: block;
      line-height: 20px; }
    div#intake .intake-block .intake-row .intake-col .intake-date {
      display: none; }
      div#intake .intake-block .intake-row .intake-col .intake-date input {
        color: #31a4dd;
        font-size: 16px;
        display: none; }
      div#intake .intake-block .intake-row .intake-col .intake-date span {
        color: #31a4dd; }
  div#intake .intake-block .intake-row .intake-col-add {
    min-height: 0px; }

div#intake .invite-block {
  padding: 1rem;
  background-color: #f3f8fd;
  border-radius: 0.25rem;
  border: 1px solid #2196f3; }
  div#intake .invite-block p {
    margin-bottom: 0; }
  div#intake .invite-block h2.sectionSubHead {
    color: #2196f3; }

