ul.thumbnails-carousel li img {
    max-width: 6rem !important;
}

.img-responsive {
    height: 32rem !important;
    width: 55rem;
}

img li.thumbnails-carousel, img.location {
    width: 5rem;
    height: 3rem;
}

.glyphicon-chevron-left {
    margin-left: -4.2rem !important;
}

.glyphicon-chevron-right {
    margin-right: -4.2rem !important;
}

div#itinerary {
    .sectionList {
        list-style: none;
        margin: 0;
        padding: 0;
    }

    button.btn {
        border: none;
        font-size: 1.5rem;
        text-transform: none;
    }

    .event-item {
        margin-top: 4rem;
        margin-bottom: 2rem;
    }

    .showNewAppointment {
        margin-top: 2rem;
        margin-right: 2rem;
        float: right;
        border: 1.5px solid #858585;
        font-size: 1.8rem;
        color: #858585;
    }


    p {
        font-size: 1.5rem;
        line-height: 2.5rem;
        margin: 0 0 0 0;
    }

    > .sectionList {

        li.itineraryDay {
            margin-left: inherit;
            margin-right: inherit;
            width: 100%;
        }

        @media screen and (min-width: 62rem) {
        }
    }

    .itineraryDayList {
        list-style: none;
        padding: 0;
        margin-top: 2rem;
    }


    .dayTitle {
        display: flex;
        align-content: center;
        justify-content: flex-start;
        margin: 0;
        padding: 0;

        .dayNumber {
            font-size: 4.8rem;
            font-weight: 700;
            color: #2CBFFC;
            margin: 0 0 0 0;
            padding: 0;
        }

        .dayText {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: center;
            margin-left: 0px;
            padding: 0;
        }

        .dayName {
            color: #858585;
            font-weight: 500;
            font-size: 1.8rem;
        }

        .mmmyyyy {
            color: #858585;
            font-weight: 300;
            font-size: 2rem;
        }
    }


    .eventNote {
        font-size: 1.8rem;
        color: #4E4E4E;
        font-weight: 300;
        margin: 0px;
        padding: 0;
        line-height: 2rem;
    }

    .eventTime {
        font-size: 1.8rem;
        color: #A7CE39;
        font-weight: 500;
        margin: 0px;
        padding: 0;
        color: $DW_Green;
        line-height: 2rem;
    }

    @media screen and (min-width: 48rem) {
        .sectionList {
            li.itineraryDay {
                width: 50%;
            }
        }
    }
}
.sectionList li.noteEntry {
    line-height: 1rem;
    margin-bottom: 0rem;
}
.noteRow{
    cursor:pointer;
}
.modal-content {
    padding: 2rem;

    .close {
        position: absolute;
        top: 3rem;
        right: 3rem;
    }
}