#transfereeSideNav {
    position: fixed;
    top: $primaryNavHeightSm;
    background-color: $DW_Lime;
    width: 100%;
    border-radius: 0;
    color: white;
    z-index: 1010;

    .navWrapper {
        padding: 0 0 0 0;
        margin: 0 0 0 0;
        height: 100%;
    }

    #backButton {
        width: 100%;
        text-align: center;
        font-size: 1.2rem;
        font-weight: bold;
        color: white;
        margin: 1rem auto;
        cursor: pointer
    }

    p.eeDetails {
        margin: 0 1.6rem;
        padding: 0 0 0 0;
        line-height: 1.2rem;
        text-align: left;
    }

    .eeOriginVipWrap {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        margin-left: 3rem;

        p.eeDetails {
            margin: 0 0;
        }

        p.eeBar {
            margin: 0 0.5rem;
        }
    }

    .transfereeSideNav__person {
        margin: 0 0 0 0;
        padding: 0 0 0 0;
        position: relative;
        border-bottom: 1px solid $DW_Lime;

        .navbar-toggle {
            margin-right: 0;
        }

        .navbar-brand {
            margin: 0 0 0 0;
            padding: 0 0 0 0;
            display: flex;
            align-items: center;

            img.person {
                width: 3rem;
                margin-left: 1.6rem;
            }
        }
    }

    p.eeName {
        color: white;
        margin: 0 0 0 1rem;
        font-size: 1.5rem;
        font-weight: bold;
    }

    hr.transfereeSideNav__rule {
        display: block;
        width: 90%;
        margin: 2vh auto;
    }

    ul.navbar-nav {
        margin: 0 0;
        padding: 1vh 0;
        width: 100%;

        li {
            float: none;
            width: 100%;

            a {
                color: white;
                padding: 1vh 3.1rem;

                img {
                    margin-right: 2rem;
                }
            }
        }

        li.item {

            &:hover {
                background-color: rgba(255,255,255,0.2);
            }
        }

        li.selected {
            background-color: #8e1a55;
        }
    }


    @media screen and (min-width: 48rem) {
        top: $primaryNavHeightLg;
        left: 0;
        width: $sideNavWidth;
        height: calc(100vh - #{$primaryNavHeightLg});

        #backButton {
            font-size: 1.2rem;
            font-weight: bold;
            color: white;
            margin: 1rem auto;
            cursor: pointer;
            position: absolute;
            top: 0;
            left: 0;
            z-index: 2;
        }

        .eeDetails {
            text-align: center;
            display: flex;
            align-items: center;
            flex-direction: column;
            width: 100%;

            .eeOriginVipWrap {
                display: flex;
                justify-content: center;
                align-items: center;
                margin-left: 0;
            }

            p {
                padding: 0 0;
                margin: 0 0;
            }

            p.eeDetails {
                text-align: center;
            }

            p.eeOrigin {
            }

            p.eeBar {
                margin: 0 0.5rem;
            }

            p.eeVip {
            }
        }

        .transfereeSideNav__person {
            text-align: center;
            width: 100%;
            border-bottom: none;
            margin-top: 3rem;

            .navbar-brand {
                flex-direction: column;
                justify-content: center;
                width: 100%;
                height: 100%;
                margin-top: 2rem;

                img.person {
                    width: 8vh;
                    margin: 2vh auto 1vh auto;
                }

                p.eeName {
                    margin-left: 0;
                }
            }
        }

        .navbar-collapse.collapse {
            padding: 0 0;
        }
    }
}
