#orderContainer {
    margin-left: 0;
    margin-top: calc(#{$primaryNavHeightSm} + 6rem);
    width: 100%;
    background-color: #fff;
    min-height: calc(100vh - #{$primaryNavHeightSm});

    @media screen and (min-width: 48rem) {
        margin-left: $sideNavWidth;
        margin-top: $primaryNavHeightLg;
        width: auto;
        min-height: calc(100vh - #{$primaryNavHeightLg});
    }

    @media screen and (min-width: 1440px) {
        max-width: calc(1440px - #{$sideNavWidth});
    }
}

.input-group.date, .input-group.time{
    /*margin: 0 auto;*/

    /*> input.form-control{
        text-align: center;
    }*/
}

.titleGroup {
    margin-bottom:5rem;
}

.sectionTitle {
    padding-bottom: 0px;
    margin: 2rem 0 1rem 0;
    font-size: 2.5rem;
    color: #231F20;
}

.sectionSubHead {
    margin: 1rem 0 0.5rem 0;
    font-size: 1.725rem;
    font-weight: 400;
    color: #8e1a55;
    display: inline-block;
}
   
.sectionSave, .sectionAdd {
    font-size: small;
    color: $DW_Lime;
    cursor: pointer;
}

.sectionDelete{
    font-size: small;
    color: $DW_Red;
    cursor: pointer;
}

.sectionInstruction {
    color: #35A2DB;
    font-size: 16px;
}

.sectionList {
    list-style: none;
    line-height: 1.875rem;
    margin: 1rem 0 0 0;
    padding: 0;

    li {
        margin-bottom: 1rem;
        padding: 0;

        label {
            display: block;
            font-size: 1.5rem;
            font-weight: 400;
            color: #858585;
            padding: 0;
            margin: 0;
        }

        p {
            color: #35A2DB;
            font-size: 1.5rem;
            font-weight: 400;
            margin: 0;
            padding: 0 1.25rem 0 0;
            overflow-wrap: break-word;
            word-wrap: break-word;
            -ms-word-break: break-all;
            word-break: break-all;
            word-break: break-word;
        }

        .input-group > input {
            color: #35A2DB;
            font-size: 1.5rem;
            font-weight: 400;
            margin: 0;
        }
    }

    @media screen and (min-width: 62rem) {
        label.mobileLabel {
            display: none;
        }
    }
}

#scheduledServices{
    display: none;

    @media screen and (min-width: 62rem){
        display: block;
    }
}
