@font-face {
    font-family: OpenSansLight;
    src: url("~/Fonts/OpenSans-Light.ttf");
}

@font-face {
    font-family: OpenSansRegular;
    src: url("~/Fonts/OpenSans-Regular.ttf");
}

@font-face {
    font-family: OpenSansLightItalic;
    src: url(~/Fonts//OpenSans-LightItalic.ttf);
}

body {
    padding: 0px;
}

div#main {

    div#caption {
        width: 48%;
        height: 118px;
        padding-top: 44px;
        vertical-align: top;
        display: inline-block;

        img {
            padding-left: 30px;
        }

        p {
            position: relative;
            display: inline-block;

            &:first-of-type {
                border-left: 1px solid gray;
                margin-left: 4px;
                top: -2px;
                height: 21px;
            }

            &:last-of-type {
                top: -3px;
                font-size: large;
                color: #4BAD48;
                font-size: 20px;
                font-family: OpenSansRegular;
            }
        }
    }

    div#icons {
        float: right;
        width: 48%;
        height: 118px;
        margin-right: 5px;
        padding-top: 20px;
        vertical-align: top;
        display: inline-block;

        div {
            float: right;
            display: inline-block;

            img {
                float: right;
                width: 40px;
                margin: 18px;
            }
        }
    }

    div#list {
        height: auto;
        padding-bottom: 45px;
        border-top: 1px solid #979797;

        div#search {
            margin: 20px 0px 60px 47px;

            input {
                width: 300px;
                max-width: none;
            }

            button {
                width: 90px;
                color: white;
                margin-left: 15px;
                background-color: #48AD48;
            }
        }

        th {
            border: none;
            padding-bottom: 16px;

            &.selected {
                > span.arrow_down {
                    border: 0.12em solid #333;
                }
            }

            &.first {
                padding-left: 73px;
            }

            &.second {
                padding-left: 1px;
            }

            &.third {
                padding-left: 58px;
            }

            &.fourth {
                padding-left: 35px;
            }

            &.fifth {
                padding-left: 29px;
            }

            &.sixth {
                padding-left: 48px;
            }

            &.seventh {
                padding-left: 10px;

                > span {
                    left: 1px;
                }
            }
        }

        td {
            border: none;
            white-space: nowrap;
            vertical-align: top;

            div.actlist-item-hdr {
                display: inline-block;
                width: 30%;

                a {
                    top: -10px;
                    color: #6C6E70;
                    position: relative;
                    font-size: 16px;
                    text-decoration: underline;
                    font-family: OpenSansRegular;
                }

                &:first-of-type {
                    width: auto;
                    margin-top: 5px;
                    vertical-align: top;
                }

                &:nth-child(2) a {
                    color: #4BAD48;
                }

                img {
                    width: 20px;
                }
            }

            div.actlist-item-blk {
                margin-left: 20px;
            }

            img {
                width: 40px;
                padding-top: 5px;
            }

            p, span {
                &.Callout {
                    color: #31A4DD;
                    margin-bottom: 0;
                }
            }

            p {
                &:first-child {
                    margin-bottom: 0px;
                    font-size: 20px;
                    font-weight: bold;
                    font-family: OpenSansRegular;

                    &.actlist-item {
                        color: #48AD48;
                        font-size: 16px;
                        font-family: OpenSansRegular;
                    }
                }

                &:nth-child(2) {
                    font-size: 16px;
                    line-height: 10px;
                    font-family: OpenSansLight;
                }
            }
        }

        table {
            width: 96%;
            margin: 30px 40px 0px 40px;
        }
    }

    @media screen and (min-width: 992px) {
        table.tablet {
            display: none;
        }

        table.mobile {
            display: none;
        }
    }

    @media screen and (min-width: 800px) and (max-width: 992px) {
        table.desktop {
            display: none;
        }

        th {
            &.second {
                padding-left: 29px !important;
            }

            &.fourth {
                padding-left: 3px !important;
            }

            &.fifth {
                padding-left: 10px !important;
            }
        }

        td {
            div.actlist-item-hdr {
                display: block !important;
            }

            div.actlist-item-blk {
                margin-left: 0px !important;
            }

            span {
                font-size: 14px;
                font-family: OpenSansLightItalic;

                &.tablet-column-label {
                    color: #6C6E70;
                    font-weight: 600;
                    margin-right: 4px;
                }
            }
        }

        table.mobile {
            display: none;
        }
    }

    @media screen and (max-width: 799px) {
        table.desktop {
            display: none;
        }

        table.tablet {
            display: none;
        }

        div#caption {
            height: 76px;
            padding-top: 20px;
            text-align: center;
            width: 89% !important;
            display: block !important;
        }

        div#icons {
            height: 76px;
            text-align: center;
            padding-top: 0px;
            float: none !important;
            width: 97% !important;
            display: block !important;

            div {
                float: none !important;
            }
        }

        th {
            &.second {
                padding-left: 54px !important;
            }

            &.third {
                padding-left: 10px !important;
            }
        }

        td {
            span {
                font-size: 14px;
                font-family: OpenSansLightItalic;

                &.tablet-column-label {
                    color: #6C6E70;
                    font-weight: 600;
                    margin-right: 4px;
                }
            }
        }
    }

    @media screen and (max-width: 483px) {
        table.desktop {
            display: none;
        }

        table.tablet {
            display: none;
        }

        table.mobile {
            margin-left: 0 !important;
        }

        div#caption {
            height: 76px;
            padding-top: 20px;
            text-align: center;
            width: 89% !important;
            display: block !important;
        }

        div#icons {
            height: 76px;
            text-align: center;
            padding-top: 0px;
            float: none !important;
            width: 97% !important;
            display: block !important;

            div {
                float: none !important;
            }
        }

        th {
            &.second {
                padding-left: 54px !important;
            }

            &.third {
                padding-left: 10px !important;
            }
        }

        td {
            span {
                font-size: 14px;
                font-family: OpenSansLightItalic;

                &.tablet-column-label {
                    color: #6C6E70;
                    font-weight: 600;
                    margin-right: 4px;
                }
            }
        }

        div#search {
            margin-left: 0px !important;

            input {
                width: 230px !important;
            }
        }
    }

    @media screen and (max-width: 365px) {
        table.desktop {
            display: none;
        }

        table.tablet {
            display: none;
        }

        table.mobile {
            margin-left: 0 !important;
        }

        div#caption {
            height: 76px;
            padding-top: 20px;
            text-align: center;
            width: 89% !important;
            display: block !important;
        }

        div#icons {
            height: 76px;
            text-align: center;
            padding-top: 0px;
            float: none !important;
            width: 97% !important;
            display: block !important;

            div {
                float: none !important;
            }
        }

        th {
            &.second {
                padding-left: 54px !important;
            }

            &.third {
                padding-left: 10px !important;
            }
        }

        td {
            span {
                font-size: 14px;
                font-family: OpenSansLightItalic;

                &.tablet-column-label {
                    color: #6C6E70;
                    font-weight: 600;
                    margin-right: 4px;
                }
            }
        }

        div#search {
            margin-left: 0px !important;

            input {
                width: 230px !important;
            }

            button {
                margin-left: 0px !important;
            }
        }
    }

    .arrow_up {
        display: inline-block;
        width: 1.4em;
        height: 1.4em;
        border: 0.1em solid #333;
        border-radius: 50%;
        margin-right: 0.75em;
        position: relative;
        top: -0.5em;
    }

    .arrow_up:after {
        content: '';
        display: inline-block;
        margin-top: 0.7em;
        margin-left: 0.3em;
        width: 0.5em;
        height: 0.5em;
        border-top: 0.1em solid #333;
        border-right: 0.1em solid #333;
        -moz-transform: rotate(-45deg);
        -webkit-transform: rotate(-45deg);
        transform: rotate(-45deg);
        position: relative;
        top: -0.2em;
    }

    .arrow_down {
        display: inline-block;
        width: 1.4em;
        height: 1.4em;
        border: 0.1em solid #333;
        border-radius: 50%;
        margin-right: 0.75em;
        position: relative;
        top: -0.5em;
    }

    .arrow_down:after {
        content: '';
        display: inline-block;
        position: relative;
        top: -0.2em;
        margin-left: 0.4em;
        width: 0.5em;
        height: 0.5em;
        border-top: 0.1em solid #333;
        border-right: 0.1em solid #333;
        -moz-transform: rotate(135deg);
        -webkit-transform: rotate(135deg);
        transform: rotate(135deg);
        position: relative;
        top: -0.5em;
    }
}
