
body {
    padding: 0px;
}

div#main {

    div#caption {
        width: 48%;
        height: 118px;
        padding-top: 44px;
        vertical-align: top;
        display: inline-block;

        img {
            padding-left: 30px;
        }

        p {
            position: relative;
            display: inline-block;

            &:first-of-type {
                border-left: 1px solid gray;
                margin-left: 4px;
                top: -2px;
                height: 21px;
            }

            &:last-of-type {
                top: -3px;
                font-size: large;
                color: #4BAD48;
                font-size: 20px;
                font-family: sans-serif;
            }
        }
    }

    div#icons {
        float: right;
        width: 48%;
        height: 118px;
        margin-right: 3px;
        padding-top: 30px;
        vertical-align: top;
        display: inline-block;

        div {
            float: right;
            display: inline-block;

            &.icons_notify {
                font-size: small;
                color: darkgreen;
                position: relative;
                font-weight: bold;
                display: inline-block;
                width: 10px;
                text-align: center;

                &.icons_notify_messages {
                    top: 6px;
                    left: -45px;
                }

                &.icons_notify_alerts {
                    top: 6px;
                    left: -145px;
                }

                &.icons_notify_appts {
                    top: 6px;
                    left: -188px;
                }
            }

            img {
                float: right;
                width: 40px;
                margin: 8px;
            }
        }
    }

    div#list {
        height: auto;
        padding-bottom: 45px;
        border-top: 1px solid #979797;

        div#search {
            height: 60px;
            padding-top: 15px;
            padding-left: 43px;
            background-color: #FAFAFA;
            //            background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0.33, rgb(14,173,173)), color-stop(0.67, rgb(0,255,255)));
            //            background-image: -moz-linear-gradient(center bottom, rgb(14,173,173) 33%, rgb(0,255,255) 67% );
            input {
                width: 300px;
                max-width: none;
            }

            button {
                width: 90px;
                color: white;
                height: 30px;
                border: none;
                margin-left: 15px;
                background-color: #48AD48;
            }
        }

        img {
            &.arrow {
                cursor: cell;
            }

            &.expand {
                cursor: zoom-in;
            }

            &.collapse {
                cursor: zoom-out;
            }

            &.noinit {
                display: none;
            }
        }

        th {
            border: none;
            padding-bottom: 16px;

            &.first {
                padding-left: 73px;
            }

            &.third {
                padding-left: 55px;
            }

            &.fourth {
                padding-left: 28px;
            }

            &.fifth {
                padding-left: 23px;
            }

            &.sixth {
                padding-left: 41px;
            }

            &.seventh {
                padding-left: 7px;
            }
        }

        td {
            border: none;
            white-space: nowrap;
            vertical-align: top;

            &:nth-child(2) {
                width: 160px;
            }

            div.actlist-item-hdr {
                display: inline-block;
                width: 30px;

                a {
                    top: -10px;
                    color: #6C6E70;
                    position: relative;
                    font-size: 16px;
                    text-decoration: underline;
                    font-family: sans-serif;
                }

                &:first-of-type {
                    width: 22px;
                    margin-top: 5px;
                    vertical-align: top;
                }

                &:nth-child(2) a {
                    color: #4BAD48;
                }

                img {
                    width: 20px;
                }
            }

            div.actlist-item-blk {
                display: none;
                margin-left: 20px;
            }

            img {
                width: 40px;
            }

            div.notify-count {
                font-size: small;
                color: #31A4DD;
                position: relative;
                left: -17px;
                top: -7px;
                font-weight: bold;
                display: inline-block;
                width: 10px;
                text-align: center;
            }

            p, span {
                &.Callout {
                    color: #31A4DD;
                    margin-bottom: 0;
                }
            }

            p {
                &:first-child {
                    margin-bottom: 0px;
                    font-size: 20px;
                    font-weight: bold;
                    font-family: sans-serif;

                    &.actlist-item {
                        color: #48AD48;
                        font-size: 16px;
                        font-family: sans-serif;
                    }
                }

                &:nth-child(2) {
                    font-size: 16px;
                    line-height: 10px;
                    font-family: sans-serif;
                }
            }
        }

        table {
            width: 96%;
            margin: 30px 40px 0px 40px;
        }
    }

    @media screen and (min-width: 992px) {
        table.tablet {
            display: none;
        }

        table.mobile {
            display: none;
        }
    }

    @media screen and (min-width: 800px) and (max-width: 992px) {
        table.desktop {
            display: none;
        }

        div#icons div.icons_notify {
            &.icons_notify_messages {
                top: 6px;
                left: -44px;
            }
        }

        th {
            &.second {
                padding-left: 29px !important;
            }

            &.fourth {
                padding-left: 0px !important;
            }

            &.fifth {
                padding-left: 9px !important;
            }
        }

        td {
            div.actlist-item-hdr {
                display: block !important;
            }

            div.actlist-item-blk {
                margin-left: 0px !important;
            }

            span {
                font-size: 14px;
                font-family: sans-serif;

                &.tablet-column-label {
                    color: #6C6E70;
                    font-weight: 600;
                    margin-right: 4px;
                }
            }
        }

        table.mobile {
            display: none;
        }
    }

    @media screen and (max-width: 799px) {
        table.desktop {
            display: none;
        }

        table.tablet {
            display: none;
        }

        div#caption {
            height: 76px;
            padding-top: 20px;
            text-align: center;
            width: 89% !important;
            display: block !important;
        }

        div#icons {
            height: 76px;
            text-align: center;
            padding-top: 0px;
            float: none !important;
            width: 97% !important;
            display: block !important;
            margin-bottom: 16px;

            div {
                float: none !important;
            }
        }

        div#icons div.icons_notify {
            &.icons_notify_messages {
                top: -32px;
                left: 239px;
            }

            &.icons_notify_alerts {
                top: -32px;
                left: 117px;
            }

            &.icons_notify_appts {
                top: -32px;
                left: 50px;
            }
        }


        th {
            &.second {
                padding-left: 54px !important;
            }

            &.third {
                padding-left: 9px !important;
            }
        }

        td {
            span {
                font-size: 14px;
                font-family: sans-serif;

                &.tablet-column-label {
                    color: #6C6E70;
                    font-weight: 600;
                    margin-right: 4px;
                }
            }
        }
    }

    @media screen and (max-width: 483px) {
        table.desktop {
            display: none;
        }

        table.tablet {
            display: none;
        }

        table.mobile {
            margin-left: 0 !important;
        }

        div#caption {
            height: 76px;
            padding-top: 20px;
            text-align: center;
            width: 89% !important;
            display: block !important;
        }

        div#icons {
            height: 76px;
            text-align: center;
            padding-top: 0px;
            float: none !important;
            width: 97% !important;
            display: block !important;

            div {
                float: none !important;
            }
        }

        th {
            &.second {
                padding-left: 54px !important;
            }

            &.third {
                padding-left: 9px !important;
            }
        }

        td {
            span {
                font-size: 14px;
                font-family: sans-serif;

                &.tablet-column-label {
                    color: #6C6E70;
                    font-weight: 600;
                    margin-right: 4px;
                }
            }
        }

        div#search {
            margin-left: 0px !important;

            input {
                width: 230px !important;
            }
        }
    }

    @media screen and (max-width: 365px) {
        table.desktop {
            display: none;
        }

        table.tablet {
            display: none;
        }

        table.mobile {
            margin-left: 0 !important;
        }

        div#caption {
            height: 76px;
            padding-top: 20px;
            text-align: center;
            width: 89% !important;
            display: block !important;
        }

        div#icons {
            height: 76px;
            text-align: center;
            padding-top: 0px;
            float: none !important;
            width: 97% !important;
            display: block !important;

            div {
                float: none !important;
            }
        }

        th {
            &.second {
                padding-left: 54px !important;
            }

            &.third {
                padding-left: 9px !important;
            }
        }

        td {
            span {
                font-size: 14px;
                font-family: sans-serif;

                &.tablet-column-label {
                    color: #6C6E70;
                    font-weight: 600;
                    margin-right: 4px;
                }
            }
        }

        div#search {
            margin-left: 0px !important;

            input {
                width: 230px !important;
            }

            button {
                margin-left: 0px !important;
            }
        }
    }
}
