@import "shared/_definitions.scss";


body {
    padding-top: 0px;
    background-image: url("/Content/Images/bg_gradient_forgot_password.png"); 
    
    @media (max-width: 768px) {
        background-image: none;
        background-color: white;
    }   
}

.text-danger{
    ul{
        list-style-type:none;
    }
}

div.container.body-content {    
    padding-top: 50px;

    @media (max-width: 768px){
        padding-top:0px;
        margin-top: 0px;
    }
    
    div.col-lg-6 {       
        text-align: center;
        background-color: white;

        &.mailer {
            border: 1px solid;
        }        

        div#group-blk {
            margin: auto;
            padding-left: 25px;
            padding-right:25px;
            padding-top: 45px;
            text-align: center;

            &.mailer {
                padding-top: 0px;
            }

            p, span {
                color: $DW_Blue;
            }

            div.form-group {
                padding-left: 15px;
                padding-right: 15px;

                label {
                    padding-top: 0px;
                    padding-left: 0px;
                    font-family: sans-serif;
                    font-size: initial;
                    text-align: left;
                    float: left;
                }

                div.col-md-10 {
                    padding-left: 0;
                    font-size: 14px;
                    width: 100%;

                    input {
                        max-width: none;
                    }
                }

                &:nth-child(3) {
                    padding-top: 96px;
                    padding-left: 40%;
                }

                &:last-of-type {
                    margin-top: 34px;

                    div.col-md-10 {
                        margin-left: 0px;
                        padding-right: 0px;

                        &.mailer {
                            margin-top: 110px;
                            line-height: 10px;
                            font-weight: 500;
                        }

                        a {
                            box-shadow: none;
                            background-color: $DW_Green;
                            color: white;
                            width: 200px;
                            margin-top: 40px;
                            line-height: 20px;
                            text-transform: capitalize;
                        }

                        input {
                            width: 116px;
                            float: left;
                            line-height: 18px;
                            box-shadow: none;
                            background-color: $DW_Green;
                            color: white;
                            margin-right: 10px;
                            text-transform: capitalize;
                        }

                        span {
                            float: left;
                            vertical-align: middle;
                        }
                    }

                    div#desc {
                        margin-top: 50px;
                        font-family: sans-serif;
                        font-size: 16px;
                        text-align: left;
                        line-height: 21px;
                    }
                }
            }
        }

        div#caption {
            margin-top: 0px;
            padding-top:30px;
            font-size: 36px;
            line-height: 50px;
            font-family: sans-serif;

            div.mailer {
                width: 344px;
                margin: auto;
                font-size: initial;
                line-height: 22px;
                margin-top: 14px;
            }

            span#email, span#pw {
                color: $DW_Blue;
            }
        }
    }

    //@include logo(30px);
}

