@import "shared/definitions";


body {
    padding-top: 0px;

    img.bg {
        width: 100%;
        height: 950px;
        opacity: 0.5;

        @media screen and (max-width: 610px) {
            display: none;
        }

        &:nth-child(2) {
            top: 0px;
            left: 0px;
            opacity: 0.7;
            position: fixed;
        }
    }
}

div.container.body-content {
    top: 0px;
    width: 100%;
    padding: 0px;
    position: fixed;

    div.col {
        width: 626px;
        margin: auto;
        text-align: center;
        padding-top: 5px;
        margin-top: 80px;
        padding-bottom: 12px;
        background-color: white;

        &.mailer {
            border: 1px solid;

            @media screen and (max-width: 610px) {
                width: auto;
                border: none;
            }
        }

        @media screen and (max-width: 610px) {
            margin-top: 20px;
        }

        div#group-blk {
            width: 60%;
            margin: auto;
            padding-top: 45px;
            text-align: center;

            &.mailer {
                padding-top: 0px;
            }

            p, span {
                color: $OdinBlue;
            }

            div.form-group {
                padding-left: 15px;
                padding-right: 15px;

                label {
                    padding-top: 0px;
                    padding-left: 0px;
                    font-family: sans-serif;
                    font-size: initial;
                    text-align: left;
                    float: left;
                }

                div.col-md-10 {
                    padding-left: 0;
                    font-size: 14px;
                    width: 100%;

                    input {
                        max-width: none;
                    }
                }

                &:nth-child(3) {
                    padding-top: 96px;
                    padding-left: 40%;
                }

                &:last-of-type {
                    margin-top: 34px;

                    div.col-md-10 {
                        margin-left: 0px;
                        padding-right: 0px;

                        &.mailer {
                            margin-top: 110px;
                            line-height: 10px;
                            font-weight: 500;
                        }

                        a {
                            box-shadow: none;
                            background-color: $OdinGreen;
                            color: white;
                            width: 200px;
                            margin-top: 40px;
                            line-height: 20px;
                            text-transform: capitalize;
                        }

                        input {
                            width: 116px;
                            float: left;
                            line-height: 18px;
                            box-shadow: none;
                            background-color: $OdinGreen;
                            color: white;
                            margin-right: 10px;
                            text-transform: capitalize;
                        }

                        span {
                            float: left;
                            vertical-align: middle;
                        }
                    }

                    div#desc {
                        margin-top: 80px;
                        font-family: sans-serif;
                        font-size: 16px;
                        text-align: left;
                        line-height: 21px;
                    }
                }
            }
        }

        div#caption {
            margin-top: 72px;
            font-size: 36px;
            line-height: 50px;
            font-family: sans-serif;

            div.mailer {
                width: 344px;
                margin: auto;
                font-size: initial;
                line-height: 22px;
                margin-top: 14px;
            }

            span#email, span#pw {
                color: $OdinBlue;
            }
        }
    }

    @include logo(178px);
}

