#orderContainer {
  margin-left: 18rem;
  margin-top: 8rem;
  width: auto; }

body {
  padding-top: 0px; }
  body img.bg {
    width: 100%;
    height: 950px;
    opacity: 0.5; }
    @media screen and (max-width: 610px) {
      body img.bg {
        display: none; } }
    body img.bg:nth-child(2) {
      top: 0px;
      left: 0px;
      opacity: 0.7;
      position: fixed; }

.text-danger ul {
  list-style-type: none; }

div.container.body-content {
  top: 0px;
  width: 100%;
  padding: 0px;
  position: fixed; }
  div.container.body-content div.col {
    width: 626px;
    margin: auto;
    text-align: center;
    padding-top: 5px;
    margin-top: 80px;
    padding-bottom: 12px;
    background-color: white; }
    div.container.body-content div.col.mailer {
      border: 1px solid; }
      @media screen and (max-width: 610px) {
        div.container.body-content div.col.mailer {
          width: auto;
          border: none; } }
    @media screen and (max-width: 610px) {
      div.container.body-content div.col {
        margin-top: 20px; } }
    div.container.body-content div.col div#group-blk {
      width: 60%;
      margin: auto;
      padding-top: 45px;
      text-align: center; }
      div.container.body-content div.col div#group-blk.mailer {
        padding-top: 0px; }
      div.container.body-content div.col div#group-blk p, div.container.body-content div.col div#group-blk span {
        color: #31a4dd; }
      div.container.body-content div.col div#group-blk div.form-group {
        padding-left: 15px;
        padding-right: 15px; }
        div.container.body-content div.col div#group-blk div.form-group label {
          padding-top: 0px;
          padding-left: 0px;
          font-family: sans-serif;
          font-size: initial;
          text-align: left;
          float: left; }
        div.container.body-content div.col div#group-blk div.form-group div.col-md-10 {
          padding-left: 0;
          font-size: 14px;
          width: 100%; }
          div.container.body-content div.col div#group-blk div.form-group div.col-md-10 input {
            max-width: none; }
        div.container.body-content div.col div#group-blk div.form-group:nth-child(3) {
          padding-top: 96px;
          padding-left: 40%; }
        div.container.body-content div.col div#group-blk div.form-group:last-of-type {
          margin-top: 34px; }
          div.container.body-content div.col div#group-blk div.form-group:last-of-type div.col-md-10 {
            margin-left: 0px;
            padding-right: 0px; }
            div.container.body-content div.col div#group-blk div.form-group:last-of-type div.col-md-10.mailer {
              margin-top: 110px;
              line-height: 10px;
              font-weight: 500; }
            div.container.body-content div.col div#group-blk div.form-group:last-of-type div.col-md-10 a {
              box-shadow: none;
              background-color: #49ae44;
              color: white;
              width: 200px;
              margin-top: 40px;
              line-height: 20px;
              text-transform: capitalize; }
            div.container.body-content div.col div#group-blk div.form-group:last-of-type div.col-md-10 input {
              width: 116px;
              float: left;
              line-height: 18px;
              box-shadow: none;
              background-color: #49ae44;
              color: white;
              margin-right: 10px;
              text-transform: capitalize; }
            div.container.body-content div.col div#group-blk div.form-group:last-of-type div.col-md-10 span {
              float: left;
              vertical-align: middle; }
          div.container.body-content div.col div#group-blk div.form-group:last-of-type div#desc {
            margin-top: 80px;
            font-family: sans-serif;
            font-size: 16px;
            text-align: left;
            line-height: 21px; }
    div.container.body-content div.col div#caption {
      margin-top: 72px;
      font-size: 36px;
      line-height: 50px;
      font-family: sans-serif; }
      div.container.body-content div.col div#caption div.mailer {
        width: 344px;
        margin: auto;
        font-size: initial;
        line-height: 22px;
        margin-top: 14px; }
      div.container.body-content div.col div#caption span#email, div.container.body-content div.col div#caption span#pw {
        color: #31a4dd; }
  div.container.body-content div#dwellworks {
    margin-top: 178px;
    text-align: center;
    padding-left: 0px; }
    div.container.body-content div#dwellworks.mailer {
      margin-top: 40px; }
    div.container.body-content div#dwellworks p {
      display: inline-block; }
      div.container.body-content div#dwellworks p:first-of-type {
        border-left: 1px solid gray;
        margin-left: 4px;
        top: -2px;
        height: 21px;
        position: relative; }
      div.container.body-content div#dwellworks p:last-of-type {
        top: -3px;
        font-size: large;
        color: #49ae44;
        font-size: 20px;
        font-family: sans-serif; }

