/* Bootstrap Overrides */
.notification-dropdown {
  box-shadow: none;
  overflow-y: scroll;
  max-height: 50vh;
  -webkit-box-shadow: none;
  position: absolute;
  font-size: small;
  left: 0;
  width: 100vw; }
  @media screen and (min-width: 40rem) {
    .notification-dropdown {
      right: 0;
      left: initial;
      width: 400px; } }

.notification-dropdown > li.notifications_unread {
  border-bottom: solid;
  width: 100%;
  border-bottom-color: lightgray;
  border-bottom-width: medium;
  background-image: url("/Content/Images/icn_attention.png");
  background-size: 90px;
  background-repeat: no-repeat;
  padding-left: 100px;
  text-wrap: none;
  height: 90px;
  display: inline-block;
  content: "x";
  color: #999;
  background-color: lightgray; }

.notification-dropdown > li.notifications_read {
  border-bottom: solid;
  width: 100%;
  border-bottom-color: lightgray;
  border-bottom-width: medium;
  background-image: url("/Content/Images/icn_attention.png");
  background-size: 90px;
  background-repeat: no-repeat;
  padding-left: 100px;
  text-wrap: none;
  height: 90px;
  display: inline-block;
  content: "x";
  color: #999; }

.notification-close-read {
  display: block; }

.notification-close-unread {
  display: none; }

.notification-dropdown > li > a.notifications {
  color: red;
  font-weight: bold;
  white-space: nowrap;
  display: inline; }

.notification-dropdown > li > label.notifications {
  float: right;
  text-align: right;
  padding-right: 8px;
  cursor: pointer; }

#logoutForm {
  display: none; }

