@import "shared/_definitions.scss";


body {
    padding-top: 0px;
}


div.container.body-content {
    width: 100%;
    padding-right: 0px;
    margin: 0 0;

    .loginWrap {
        background-image: url('/Content/Images/bg_img_w_gradient.png');
        background-position: center;
        background-size: cover;

        div.row {
            margin: 0px;
            height: 100vh;
            width: 100%;
            overflow: hidden;
        }

        div.col-md-4 {
            height: 100vh;
            background-color: white;

            @media screen and (max-width: 48rem) {
                /*padding-right: 120px;*/
            }

            div#caption {
                line-height: 44px;
                padding-top: 60px;
                font-size: xx-large;
                text-align: center;
                margin-bottom: 97px;

                #logo {
                    display: flex;
                    justify-content: center;
                    height: 3rem;
                    align-items: center;
                    margin-bottom: 3rem;


                    #logoImage {
                        margin-right: 1rem;
                        padding-right: 1rem;
                        border-right: 1px solid $DW_Gray;
                    }

                    #logoOdin {
                        color: $DW_Green;
                        font-size: 1.75rem;
                    }
                }

                span#Odin {
                    color: $DW_Green;
                }
            }
        }

        .col-md-8 {
            position: relative;
            height: 100vh;

            .loginCopyWrap {
                color: white;
                position: absolute;
                top: 10vh;
                left: 10%;
                width: 50%;

                .head{
                    font-weight: 600;
                    font-size: 2.5rem;
                    line-height: 3rem;
                }

                .copy{
                    font-size: 2rem;
                }
            }
        }
    }

    div.form-group {

        div.col-md-10 {
            padding-left: 88px;
            padding-right: 0px;
        }

        label {
            text-align: left;
            padding-left: 0px;
        }

        div.passwd {
            text-align: center;
            margin-left: 0px;
            padding: 0px;
            width: 100%;
        }

        input {
            max-width: none;

            &.btn {
                color: white;
                width: 154px;
                height: 30px;
                box-shadow: none;
                margin-bottom: 5px;
                line-height: 10px;
                background-color: $DW_Green;
                text-transform: capitalize;
            }
        }
    }

    p#forgot {
        text-align: center;
    }
    //@include logo(196px);
}

