@import "shared/definitions";


body {
    padding-top: 0px;
}

div.container.body-content {
    width: auto;
    padding-right: 0px;

    div.row {
        margin: 0px;
        height: 886px;
        max-width: 100%;
        max-height: 100%;
        overflow: hidden;
    }

    div.col-md-4 {
        height: 852px;
        margin-top: 32px;

        @media screen and (max-width: 992px) {
            padding-right: 120px;
        }

        div#caption {
            line-height: 44px;
            padding-top: 60px;
            font-size: xx-large;
            text-align: center;
            margin-bottom: 97px;

            span#Odin {
                color: $DW_Green;
            }
        }
    }

    div.col {
        width: 66%;
        position: relative;
        display: inline-block;

        @media screen and (max-width: 992px) {
            display: none;
        }

        p {
            margin: 0px;
        }

        img {
            width: 100%;
            opacity: 0.5;

            &:nth-child(2) {
                top: 0px;
                opacity: 0.7;
                position: fixed;

                &.IEorEdge {
                    left: 33.7%;
                }
            }
        }

        div#labels-box {
            color: white;
            position: absolute;
            top: 150px;
            left: 186px;
        }

        div.text-lables {
            &:nth-child(1) {
                line-height: 62px;
                font-family: sans-serif;
                font-size: 50px;
                font-weight: bold;
            }

            &:nth-child(2) {
                margin-top: 40px;
                font-size: 24px;
                line-height: 30px;
            }
        }
    }

    div.form-group {

        div.col-md-10 {
            padding-left: 88px;
            padding-right: 0px;
        }

        label {
            text-align: left;
            padding-left: 0px;
        }

        div.passwd {
            text-align: center;
            margin-top: 116px;
            margin-left: 0px;
            padding: 0px;
            width: 100%;
        }

        input {
            max-width: none;

            &.btn {
                color: white;
                width: 154px;
                height: 30px;
                box-shadow: none;
                margin-bottom: 5px;
                line-height: 10px;
                background-color: $DW_Green;
                text-transform: capitalize;
            }
        }
    }

    p#forgot {
        text-align: center;
    }

    @include logo(196px);
}

