html, body {
  background-color: #f1f1f1; }

a.dw_logo {
  display: flex;
  text-decoration: none;
  align-items: center; }
  a.dw_logo img.primaryNavHome__logo--mobile {
    display: block;
    height: 3rem;
    width: auto;
    text-decoration: none;
    margin-right: 0.325rem; }
  a.dw_logo img.primaryNavHome__logo {
    display: none; }
  a.dw_logo > p {
    text-decoration: none;
    line-height: 3rem;
    height: 3rem;
    color: #49ae44;
    font-size: 2rem;
    font-weight: 300;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    padding-left: 0.5rem;
    margin-left: 0.5rem;
    border-left: 1px solid #acacac; }
  @media screen and (min-width: 48rem) {
    a.dw_logo {
      margin-left: 0.5rem; }
      a.dw_logo img.primaryNavHome__logo--mobile {
        display: none; }
      a.dw_logo img.primaryNavHome__logo {
        display: block;
        height: 3rem;
        width: auto;
        padding-right: 0.325rem; } }
  a.dw_logo:hover > p {
    text-decoration: none; }

.centered_logo {
  display: flex;
  justify-content: center;
  margin: 3rem 0; }

body {
  padding-top: 0px; }

div.container {
  width: 100%;
  padding-right: 0px;
  margin: 0 0; }
  div.container .loginWrap {
    background-image: url("/Content/Images/bg_img_w_gradient.png");
    background-position: center;
    background-size: cover; }
    div.container .loginWrap div.row {
      margin: 0px;
      height: 100vh;
      width: 100%;
      overflow: hidden; }
    div.container .loginWrap div.col-md-4 {
      height: 100vh;
      background-color: white; }
      @media screen and (max-width: 48rem) {
        div.container .loginWrap div.col-md-4 {
          /*padding-right: 120px;*/ } }
      div.container .loginWrap div.col-md-4 div#caption {
        line-height: 44px;
        padding-top: 60px;
        font-size: xx-large;
        text-align: center;
        margin-bottom: 97px; }
        div.container .loginWrap div.col-md-4 div#caption #logo {
          display: flex;
          justify-content: center;
          height: 3rem;
          align-items: center;
          margin-bottom: 3rem; }
          div.container .loginWrap div.col-md-4 div#caption #logo #logoImage {
            margin-right: 1rem;
            padding-right: 1rem;
            border-right: 1px solid #b7a998; }
          div.container .loginWrap div.col-md-4 div#caption #logo #logoOdin {
            color: #49ae44;
            font-size: 1.75rem; }
        div.container .loginWrap div.col-md-4 div#caption span#Odin {
          color: #49ae44; }
    div.container .loginWrap .col-md-8 {
      position: relative;
      height: 100vh; }
      div.container .loginWrap .col-md-8 .loginCopyWrap {
        color: white;
        position: absolute;
        top: 10vh;
        left: 10%;
        width: 50%; }
        div.container .loginWrap .col-md-8 .loginCopyWrap .head {
          font-weight: 600;
          font-size: 2.5rem;
          line-height: 3rem; }
        div.container .loginWrap .col-md-8 .loginCopyWrap .copy {
          font-size: 2rem; }
  div.container div.form-group div.col-md-10 {
    padding-left: 88px;
    padding-right: 0px; }
  div.container div.form-group label {
    text-align: left;
    padding-left: 0px; }
  div.container div.form-group div.passwd {
    text-align: center;
    margin-left: 0px;
    padding: 0px;
    width: 100%; }
  div.container div.form-group input {
    max-width: none; }
    div.container div.form-group input.btn {
      color: white;
      width: 154px;
      height: 30px;
      box-shadow: none;
      margin-bottom: 5px;
      line-height: 10px;
      background-color: #49ae44;
      text-transform: capitalize; }
  div.container p#forgot {
    text-align: center; }

