body {
  padding: 0px; }
  body div.container-fluid {
    padding: 0px; }

div#main {
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1;
  background-color: white;
  border-bottom: 2px solid #c7c7c7; }
  div#main div#caption {
    width: 48%;
    height: 118px;
    padding-top: 44px;
    vertical-align: top;
    display: inline-block; }
    div#main div#caption div#dwellworks {
      margin-top: 0px;
      text-align: left;
      padding-left: 30px; }
      div#main div#caption div#dwellworks.mailer {
        margin-top: 40px; }
      div#main div#caption div#dwellworks p {
        display: inline-block; }
        div#main div#caption div#dwellworks p:first-of-type {
          border-left: 1px solid gray;
          margin-left: 4px;
          top: -2px;
          height: 21px;
          position: relative; }
        div#main div#caption div#dwellworks p:last-of-type {
          top: -3px;
          font-size: large;
          color: #49ae44;
          font-size: 20px;
          font-family: sans-serif; }
  div#main div#icons {
    float: right;
    width: 50%;
    height: 118px;
    margin-right: 3px;
    padding-top: 30px;
    vertical-align: top;
    display: inline-block; }
    div#main div#icons div {
      float: right;
      display: inline-block; }
      div#main div#icons div.icons_notify {
        font-size: small;
        color: white;
        position: relative;
        font-weight: bold;
        display: inline-block;
        width: 10px;
        text-align: center; }
        div#main div#icons div.icons_notify img {
          width: 26px; }
        div#main div#icons div.icons_notify.icons_notify_messages {
          top: -2px;
          left: -321px; }
          div#main div#icons div.icons_notify.icons_notify_messages span {
            position: relative;
            top: -33px;
            left: -19px; }
        div#main div#icons div.icons_notify.icons_notify_alerts {
          top: -2px;
          left: -104px; }
          div#main div#icons div.icons_notify.icons_notify_alerts span {
            position: relative;
            top: -33px;
            left: -17px; }
        div#main div#icons div.icons_notify.icons_notify_appts {
          top: -2px;
          left: -204px; }
          div#main div#icons div.icons_notify.icons_notify_appts span {
            position: relative;
            top: -33px;
            left: -18px; }
      div#main div#icons div img {
        float: right;
        width: 50px;
        margin: 8px; }
        div#main div#icons div img.icons_notify {
          margin-right: 40px; }

div#list {
  height: auto;
  padding-bottom: 45px; }
  div#list div#search {
    height: 72px;
    padding-top: 21px;
    padding-left: 43px;
    background-color: #a7ce39; }
    div#list div#search input {
      width: 300px;
      max-width: none; }
    div#list div#search button {
      width: 90px;
      color: white;
      height: 30px;
      border: none;
      font-size: 15px;
      margin-left: 15px;
      background-color: #31a4dd; }
  div#list img.arrow {
    cursor: cell; }
  div#list img.expand {
    cursor: zoom-in; }
  div#list img.collapse {
    cursor: zoom-out; }
  div#list img.noinit {
    display: none; }
  div#list th {
    border: none;
    line-height: 23px;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 16px; }
    div#list th p {
      color: black;
      height: 22px;
      font-size: 23px;
      margin-top: 55px;
      font-family: sans-serif;
      margin-bottom: 32px; }
    div#list th.first div {
      padding-left: 48px; }
    div#list th.second {
      padding-top: 25px; }
    div#list th.third div {
      padding-left: 68px; }
    div#list th.fourth div {
      padding-left: 34px; }
    div#list th.fifth div {
      padding-left: 23px; }
    div#list th.sixth div {
      padding-left: 51px; }
    div#list th.seventh div {
      padding-left: 44px; }
  div#list td {
    border: none;
    white-space: nowrap;
    vertical-align: top; }
    div#list td span.srchIndx {
      color: #49ae44; }
    div#list td:nth-child(2) {
      width: 284px;
      padding-left: 5px; }
    div#list td:last-of-type {
      padding-top: 10px;
      padding-left: 40px; }
    div#list td div.actlist-item-hdr {
      display: inline-block;
      width: 68px; }
      div#list td div.actlist-item-hdr a {
        top: -10px;
        color: #6C6E70;
        position: relative;
        font-size: 20px;
        text-decoration: underline;
        font-family: sans-serif;
        margin-left: 3px; }
      div#list td div.actlist-item-hdr:first-of-type {
        width: 25px;
        margin-top: 5px;
        vertical-align: top; }
      div#list td div.actlist-item-hdr:nth-child(2) a {
        color: #49ae44; }
      div#list td div.actlist-item-hdr img {
        width: 20px; }
    div#list td div.actlist-item-blk {
      display: none;
      margin-left: 20px; }
    div#list td img {
      width: 40px; }
    div#list td div.notify-count {
      font-size: small;
      color: white;
      position: relative;
      left: -22px;
      top: -14px;
      font-weight: bold;
      display: inline-block;
      width: 10px;
      text-align: center; }
      div#list td div.notify-count img {
        width: 26px; }
      div#list td div.notify-count span {
        top: 1px;
        left: -21px;
        position: relative; }
    div#list td p.Callout, div#list td span.Callout {
      color: #31a4dd;
      font-weight: bold;
      margin-bottom: 0; }
    div#list td p {
      font-size: 20px; }
      div#list td p.company {
        margin-bottom: 0px; }
      div#list td p.urgent {
        color: #e53c2e;
        font-weight: bold;
        font-style: italic;
        margin-bottom: 0px; }
      div#list td p:first-child {
        margin-bottom: 0px;
        font-size: 22px;
        font-weight: bold;
        font-family: sans-serif; }
        div#list td p:first-child.transferee {
          color: #8d0b56; }
        div#list td p:first-child.lastcontacted {
          font-weight: normal; }
        div#list td p:first-child.pretrip {
          font-weight: normal; }
        div#list td p:first-child.finalarrival {
          font-weight: normal; }
        div#list td p:first-child.actlist-item {
          color: #49ae44;
          font-size: 20px;
          font-family: sans-serif; }
      div#list td p:nth-child(2) {
        line-height: 10px;
        font-family: sans-serif; }
        div#list td p:nth-child(2).managerphone {
          font-weight: normal; }
  div#list table {
    width: 96%;
    margin: 30px 40px 0px 40px; }
    div#list table tbody tr:hover {
      background-color: #b7a998; }

@media screen and (min-width: 993px) {
  table.tablet {
    display: none; }
  table.mobile {
    display: none; } }

@media screen and (min-width: 813px) and (max-width: 992px) {
  table.desktop {
    display: none; }
  th.second {
    padding-top: 0px !important; }
    th.second div {
      padding-left: 38px !important; }
  th.third div {
    padding-left: 52px !important; }
  th.fourth {
    padding-top: 25px; }
  th.fifth div {
    padding-left: 46px !important; }
  td:nth-child(2) {
    width: 200px !important; }
  td:nth-child(3) {
    width: 160px !important; }
  td div.actlist-item-hdr {
    display: block !important; }
    td div.actlist-item-hdr:nth-child(2) {
      height: 47px;
      line-height: 30px; }
    td div.actlist-item-hdr:nth-child(3) {
      height: 47px;
      line-height: 30px; }
    td div.actlist-item-hdr:nth-child(4) {
      height: 52px;
      line-height: 30px; }
  td div.actlist-item-blk {
    margin-left: 0px !important; }
  td span {
    font-size: 16px;
    font-family: sans-serif; }
    td span.tablet-column-label {
      color: #6C6E70;
      font-weight: 600;
      margin-right: 4px; }
  table.mobile {
    display: none; } }

@media screen and (max-width: 812px) {
  table.desktop {
    display: none; }
  table.tablet {
    display: none; }
  div#caption {
    height: 66px !important;
    padding-top: 20px !important;
    text-align: center;
    width: 90% !important;
    display: block !important; }
    div#caption div#dwellworks {
      text-align: center !important; }
  div#icons {
    height: 70px !important;
    text-align: center;
    padding-top: 0px !important;
    float: none !important;
    width: 90% !important;
    display: block !important;
    margin-bottom: 0px; }
    div#icons div {
      float: none !important; }
      div#icons div.icons_notify.icons_notify_messages {
        top: -14px !important;
        left: 96px !important; }
      div#icons div.icons_notify.icons_notify_alerts {
        top: -14px !important;
        left: 265px !important; }
      div#icons div.icons_notify.icons_notify_appts {
        top: -14px !important;
        left: 190px !important; }
  th.second {
    padding-top: 0px !important; }
    th.second div {
      padding-left: 71px !important; }
  th.third div {
    padding-left: 47px !important; }
  td span {
    font-size: 16px;
    font-family: sans-serif; }
    td span div.actlist-item-hdr {
      width: 48px; }
    td span.tablet-column-label {
      color: #6C6E70;
      font-weight: 600;
      margin-right: 4px; } }

