html, body {
  background-color: #f1f1f1; }

a.dw_logo {
  display: flex;
  text-decoration: none;
  align-items: center; }
  a.dw_logo img.primaryNavHome__logo--mobile {
    display: block;
    height: 3rem;
    width: auto;
    text-decoration: none;
    margin-right: 0.325rem; }
  a.dw_logo img.primaryNavHome__logo {
    display: none; }
  a.dw_logo > p {
    text-decoration: none;
    line-height: 3rem;
    height: 3rem;
    color: #49ae44;
    font-size: 2rem;
    font-weight: 300;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    padding-left: 0.5rem;
    margin-left: 0.5rem;
    border-left: 1px solid #acacac; }
  @media screen and (min-width: 48rem) {
    a.dw_logo {
      margin-left: 0.5rem; }
      a.dw_logo img.primaryNavHome__logo--mobile {
        display: none; }
      a.dw_logo img.primaryNavHome__logo {
        display: block;
        height: 3rem;
        width: auto;
        padding-right: 0.325rem; } }
  a.dw_logo:hover > p {
    text-decoration: none; }

.centered_logo {
  display: flex;
  justify-content: center;
  margin: 3rem 0; }

body {
  padding: 0px; }
  body div.container-fluid {
    padding: 0px; }

.clickable, .clickablepm {
  cursor: pointer; }

.clickablepm {
  margin: 2rem 0;
  line-height: 1.4rem; }

.sortLabel {
  text-align: center; }

.sortPlus, .sortMinus {
  margin-left: 1rem;
  display: none; }

div#list {
  height: auto;
  padding-bottom: 4.5rem;
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  background-color: white; }
  div#list #ordersTopBar {
    margin-top: 5rem;
    padding: 2rem;
    background-color: #a7ce39;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    flex-direction: column; }
    div#list #ordersTopBar input {
      width: 100%;
      border: none;
      padding: 0.5rem 1rem;
      box-shadow: 0px 0px 0px 0px; }
      div#list #ordersTopBar input:focus {
        outline: none;
        box-shadow: 0px 0px 0px 0px; }
    div#list #ordersTopBar .changePropertyManager {
      background-color: white;
      margin-top: 2rem; }
    @media screen and (min-width: 48rem) {
      div#list #ordersTopBar {
        margin-top: 8rem;
        flex-direction: row; }
        div#list #ordersTopBar .changePropertyManager {
          margin-top: 0;
          margin-left: 8rem; } }
  div#list ul {
    list-style: none;
    margin: 0;
    padding: 0; }
  div#list li {
    margin: 0rem;
    padding: 3rem 0rem;
    border-bottom: 1px solid lightgrey; }
  div#list li.header {
    color: #858585;
    font-weight: 400;
    font-size: 1.5rem;
    padding: 2rem 0; }
    div#list li.header .sortLabel {
      cursor: pointer;
      -webkit-user-select: none;
      /* Safari */
      -moz-user-select: none;
      /* Firefox */
      -ms-user-select: none;
      /* IE10+/Edge */
      user-select: none;
      /* Standard */ }
  div#list li.row .col-md-2 {
    margin-bottom: 2rem; }
  div#list li.row .col-md-2:last-child {
    margin-bottom: 0; }
  div#list .col-md-2 label.header {
    display: block;
    color: #858585;
    font-weight: 400;
    font-size: 1.2rem;
    margin-bottom: 0; }
  div#list p {
    font-size: 1.4rem;
    color: black;
    line-height: 1;
    margin: 0 0 0.8rem 0;
    padding: 0; }
  div#list p:last-child {
    margin-bottom: 0; }
  div#list .eeName {
    color: black;
    font-weight: 500;
    font-size: 1.8rem; }
  div#list .rmcName {
    font-size: 1.6rem;
    font-weight: 500; }
  @media screen and (min-width: 60rem) {
    div#list li {
      margin: 0rem;
      padding: 2rem 0rem; }
    div#list li.row .col-md-2 {
      margin-bottom: 0; }
    div#list .col-md-2 label.header {
      display: none; }
    div#list .col-md-2 label.header.headerPersist {
      display: block; } }

.progress {
  height: 2rem;
  margin-bottom: 0px; }

.progressBar__sched {
  background-color: #73c2ed; }

.progressBar__comp {
  background-color: #49ae44; }

.progress-bar:last-child:before {
  background-color: #efefef; }

.progressBar__caption {
  position: relative;
  margin-top: 0.75rem; }
  .progressBar__caption label {
    display: block;
    margin-bottom: 0.75rem;
    line-height: 1rem; }
    .progressBar__caption label .green {
      color: #49ae44;
      font-weight: 600; }
    .progressBar__caption label .blue {
      color: #31a4dd;
      font-weight: 600; }

