@import "shared/definitions";

$top_border_color: #979797;
$primary_link_color: #6C6E70;


body {
    padding: 0px;

    div.container-fluid {
        padding: 0px;
    }
}

@include header;

div#list {
    height: auto;
    padding-bottom: 45px;
    //border-top: 1px solid $top_border_color;

    div#search {
        height: 72px;
        padding-top: 21px;
        padding-left: 43px;
        background-color: $DW_Lime;
        //            background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0.33, rgb(14,173,173)), color-stop(0.67, rgb(0,255,255)));
        //            background-image: -moz-linear-gradient(center bottom, rgb(14,173,173) 33%, rgb(0,255,255) 67% );
        input {
            width: 300px;
            max-width: none;
        }

        button {
            width: 90px;
            color: white;
            height: 30px;
            border: none;
            font-size: 15px;
            margin-left: 15px;
            background-color: $DW_Blue;
        }
    }

    img {
        &.arrow {
            cursor: cell;
        }

        &.expand {
            cursor: zoom-in;
        }

        &.collapse {
            cursor: zoom-out;
        }

        &.noinit {
            display: none;
        }
    }

    th {
        border: none;
        line-height: 23px;
        padding-left: 5px;
        padding-right: 5px;
        padding-bottom: 16px;

        p {
            color: black;
            height: 22px;
            font-size: 23px;
            margin-top: 55px;
            font-family: sans-serif;
            margin-bottom: 32px;
        }

        &.first {
            div {
                padding-left: 48px;
            }
        }

        &.second {
            padding-top: 25px;
        }

        &.third {
            div {
                padding-left: 68px;
            }
        }

        &.fourth {
            div {
                padding-left: 34px;
            }
        }

        &.fifth {
            div {
                padding-left: 23px;
            }
        }

        &.sixth {
            div {
                padding-left: 51px;
            }
        }

        &.seventh {
            div {
                padding-left: 44px;
            }
        }
    }

    td {
        border: none;
        white-space: nowrap;
        vertical-align: top;

        span.srchIndx {
            color: $DW_Green;
        }

        &:nth-child(2) {
            width: 284px;
            padding-left: 5px;
        }

        &:last-of-type {
            padding-top: 10px;
            padding-left: 40px;
        }

        div.actlist-item-hdr {
            display: inline-block;
            width: 68px;

            a {
                top: -10px;
                color: $primary_link_color;
                position: relative;
                font-size: 20px;
                text-decoration: underline;
                font-family: sans-serif;
                margin-left: 3px;
            }

            &:first-of-type {
                width: 25px;
                margin-top: 5px;
                vertical-align: top;
            }

            &:nth-child(2) a {
                color: $DW_Green;
            }

            img {
                width: 20px;
            }
        }

        div.actlist-item-blk {
            display: none;
            margin-left: 20px;
        }

        img {
            width: 40px;
        }

        div.notify-count {
            font-size: small;
            color: white;
            position: relative;
            left: -22px;
            top: -14px;
            font-weight: bold;
            display: inline-block;
            width: 10px;
            text-align: center;

            img {
                width: 26px;
            }

            span {
                top: 1px;
                left: -21px;
                position: relative;
            }
        }

        p, span {
            &.Callout {
                color: $DW_Blue;
                font-weight: bold;
                margin-bottom: 0;
            }
        }

        p {
            font-size: 20px;

            &.company {
                margin-bottom: 0px;
            }

            &.urgent {
                color: $DW_Red;
                font-weight: bold;
                font-style: italic;
                margin-bottom: 0px;
            }

            &:first-child {
                margin-bottom: 0px;
                font-size: 22px;
                font-weight: bold;
                font-family: sans-serif;

                &.transferee {
                    color: $DW_LtPurple;
                }

                &.lastcontacted {
                    font-weight: normal;
                }

                &.pretrip {
                    font-weight: normal;
                }

                &.finalarrival {
                    font-weight: normal;
                }

                &.actlist-item {
                    color: $DW_Green;
                    font-size: 20px;
                    font-family: sans-serif;
                }
            }

            &:nth-child(2) {
                line-height: 10px;
                font-family: sans-serif;

                &.managerphone {
                    font-weight: normal;
                }
            }
        }
    }

    table {
        width: 96%;
        margin: 30px 40px 0px 40px;

        tbody tr:hover {
            background-color: $DW_Gray;
        }
    }
}

@media screen and (min-width: 993px) {
    table.tablet {
        display: none;
    }

    table.mobile {
        display: none;
    }
}

@media screen and (min-width: 813px) and (max-width: 992px) {
    table.desktop {
        display: none;
    }

    th {
        &.second {
            padding-top: 0px !important;

            div {
                padding-left: 38px !important;
            }
        }

        &.third {
            div {
                padding-left: 52px !important;
            }
        }

        &.fourth {
            padding-top: 25px;
        }

        &.fifth {
            div {
                padding-left: 46px !important;
            }
        }
    }

    td {

        &:nth-child(2) {
            width: 200px !important;
        }

        &:nth-child(3) {
            width: 160px !important;
        }

        div.actlist-item-hdr {
            display: block !important;

            &:nth-child(2) {
                height: 47px;
                line-height: 30px;
            }

            &:nth-child(3) {
                height: 47px;
                line-height: 30px;
            }

            &:nth-child(4) {
                height: 52px;
                line-height: 30px;
            }
        }

        div.actlist-item-blk {
            margin-left: 0px !important;
        }

        span {
            font-size: 16px;
            font-family: sans-serif;

            &.tablet-column-label {
                color: $primary_link_color;
                font-weight: 600;
                margin-right: 4px;
            }
        }
    }

    table.mobile {
            display: none;
        }
}

@media screen and (max-width: 812px) {
    table.desktop {
        display: none;
    }

    table.tablet {
        display: none;
    }

    @include mobile_header;

    th {
        &.second {
            padding-top: 0px !important;

            div {
                padding-left: 71px !important;
            }
        }

        &.third {
            div {
                padding-left: 47px !important;
            }
        }
    }

    td {
        span {
            font-size: 16px;
            font-family: sans-serif;

            div.actlist-item-hdr {
                width: 48px;
            }

            &.tablet-column-label {
                color: $primary_link_color;
                font-weight: 600;
                margin-right: 4px;
            }
        }
    }
}
