html, body {
  background-color: #f1f1f1; }

a.dw_logo {
  display: flex;
  text-decoration: none;
  align-items: center; }
  a.dw_logo img.primaryNavHome__logo--mobile {
    display: block;
    height: 3rem;
    width: auto;
    text-decoration: none;
    margin-right: 0.325rem; }
  a.dw_logo img.primaryNavHome__logo {
    display: none; }
  a.dw_logo > p {
    text-decoration: none;
    line-height: 3rem;
    height: 3rem;
    color: #49ae44;
    font-size: 2rem;
    font-weight: 300;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    padding-left: 0.5rem;
    margin-left: 0.5rem;
    border-left: 1px solid #acacac; }
  @media screen and (min-width: 48rem) {
    a.dw_logo {
      margin-left: 0.5rem; }
      a.dw_logo img.primaryNavHome__logo--mobile {
        display: none; }
      a.dw_logo img.primaryNavHome__logo {
        display: block;
        height: 3rem;
        width: auto;
        padding-right: 0.325rem; } }
  a.dw_logo:hover > p {
    text-decoration: none; }

.centered_logo {
  display: flex;
  justify-content: center;
  margin: 3rem 0; }

body {
  padding: 0px; }
  body div.container-fluid {
    padding: 0px; }

.clickable, .clickablepm {
  cursor: pointer; }

.sortLabel {
  text-align: center; }

.sortPlus, .sortMinus {
  margin-left: 1rem;
  display: none; }

div#list {
  height: auto;
  padding-bottom: 4.5rem;
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  background-color: white; }
  div#list div#search {
    margin-top: 5rem;
    padding: 2rem;
    background-color: #a7ce39;
    box-sizing: border-box;
    display: flex;
    align-items: center; }
    div#list div#search input {
      width: 100%;
      border: none;
      padding: 0.5rem 1rem;
      box-shadow: 0px 0px 0px 0px; }
      div#list div#search input:focus {
        outline: none;
        box-shadow: 0px 0px 0px 0px; }
    div#list div#search button {
      width: auto;
      padding: 0 1rem;
      color: white;
      border: none;
      font-size: 1.5rem;
      margin-left: 1.5rem;
      background-color: #31a4dd; }
    @media screen and (min-width: 48rem) {
      div#list div#search {
        margin-top: 8rem; } }
  div#list progress {
    width: 100%;
    display: block; }
  div#list .progressBar__caption {
    position: relative;
    top: 2rem;
    margin-top: 0.75rem; }
    div#list .progressBar__caption label {
      display: block;
      margin-bottom: 0.75rem;
      line-height: 1rem; }
      div#list .progressBar__caption label span.green {
        color: #49ae44;
        font-weight: 600; }
      div#list .progressBar__caption label span.blue {
        color: #31a4dd;
        font-weight: 600; }
  div#list ul {
    list-style: none;
    margin: 0;
    padding: 0; }
  div#list li {
    margin: 0rem;
    padding: 3rem 0rem;
    border-bottom: 1px solid lightgrey; }
  div#list li.header {
    color: #858585;
    font-weight: 400;
    font-size: 1.5rem;
    padding: 2rem 0; }
    div#list li.header .sortLabel {
      cursor: pointer;
      -webkit-user-select: none;
      /* Safari */
      -moz-user-select: none;
      /* Firefox */
      -ms-user-select: none;
      /* IE10+/Edge */
      user-select: none;
      /* Standard */ }
  div#list li.row .col-md-2 {
    margin-bottom: 2rem; }
  div#list li.row .col-md-2:last-child {
    margin-bottom: 0; }
  div#list .col-md-2 label.header {
    display: block;
    color: #858585;
    font-weight: 400;
    font-size: 1.2rem;
    margin-bottom: 0; }
  div#list p {
    font-size: 1.4rem;
    color: black;
    line-height: 1;
    margin: 0 0 0.8rem 0;
    padding: 0; }
  div#list p:last-child {
    margin-bottom: 0; }
  div#list .eeName {
    color: black;
    font-weight: 500;
    font-size: 1.8rem; }
  div#list .rmcName {
    font-size: 1.6rem;
    font-weight: 500; }
  div#list .progressBar {
    display: block;
    position: relative;
    width: 100%; }
    div#list .progressBar progress {
      /* Reset the default appearance */
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      box-sizing: border-box;
      border: 0px;
      background-color: #ebebeb;
      height: 2rem; }
    div#list .progressBar .progressCompleted::-webkit-progress-bar {
      background-color: transparent; }
    div#list .progressBar .progressScheduled {
      border: 0px;
      color: #73c2ed; }
    div#list .progressBar .progressScheduled::-webkit-progress-bar {
      background-color: #ebebeb; }
    div#list .progressBar .progressScheduled::-webkit-progress-value {
      background-color: #73c2ed;
      color: red; }
    div#list .progressBar .progressCompleted {
      border: none;
      color: #a7ce39;
      position: absolute;
      top: 0;
      background-color: transparent; }
    div#list .progressBar .progressCompleted::-webkit-progress-value {
      background-color: #a7ce39; }
    div#list .progressBar .progressScheduled::-ms-fill {
      border-color: currentColor; }
    div#list .progressBar .progressCompleted::-ms-fill {
      border-color: currentColor; }
    div#list .progressBar .progressBar__progress {
      position: absolute;
      top: 0;
      left: 0;
      height: 2rem; }
    div#list .progressBar .progressBar__auth {
      background-color: #ebebeb;
      width: 100%; }
    div#list .progressBar .progressBar__sched {
      background-color: #73c2ed; }
    div#list .progressBar .progressBar__comp {
      background-color: #49ae44; }
  @media screen and (min-width: 60rem) {
    div#list li {
      margin: 0rem;
      padding: 2rem 0rem; }
    div#list li.row .col-md-2 {
      margin-bottom: 0; }
    div#list .col-md-2 label.header {
      display: none; }
    div#list .col-md-2 label.header.headerPersist {
      display: block; } }

