html, body {
  background-color: #f1f1f1; }

#primaryNav {
  position: fixed;
  z-index: 1010;
  height: 5rem;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  border-bottom: 2px solid #c9c9c9;
  padding: 0 1rem;
  top: 0; }
  @media screen and (min-width: 48rem) {
    #primaryNav {
      height: 8rem;
      max-width: 1440px; } }

a.primaryNavHome {
  display: flex;
  text-decoration: none;
  align-items: center; }
  a.primaryNavHome img.primaryNavHome__logo--mobile {
    display: block;
    height: 3rem;
    width: auto;
    margin-right: 0.325rem; }
  a.primaryNavHome img.primaryNavHome__logo {
    display: none; }
  a.primaryNavHome > p {
    line-height: 3rem;
    height: 3rem;
    color: #49ae44;
    font-size: 2rem;
    font-weight: 300;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    padding-left: 0.5rem;
    margin-left: 0.5rem;
    border-left: 1px solid #acacac; }
  @media screen and (min-width: 48rem) {
    a.primaryNavHome {
      margin-left: 0.5rem; }
      a.primaryNavHome img.primaryNavHome__logo--mobile {
        display: none; }
      a.primaryNavHome img.primaryNavHome__logo {
        display: block;
        height: 3rem;
        width: auto;
        padding-right: 0.325rem; } }

ul.primaryNavIconList {
  list-style: none;
  display: flex;
  margin-bottom: 0;
  padding: 0 0 0 0; }
  ul.primaryNavIconList li.primaryNavIconList__item {
    position: static;
    padding: 0.5rem;
    margin-right: 1rem;
    border-radius: 50%;
    cursor: pointer; }
    @media screen and (min-width: 48rem) {
      ul.primaryNavIconList li.primaryNavIconList__item {
        padding: 1rem; } }
    ul.primaryNavIconList li.primaryNavIconList__item:last-child {
      margin-right: 0rem; }
    ul.primaryNavIconList li.primaryNavIconList__item:hover {
      box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.3); }
    ul.primaryNavIconList li.primaryNavIconList__item span {
      position: absolute;
      top: 1rem;
      right: 5rem;
      background-color: #e53c2e;
      color: white;
      padding: calc(1.25rem/2);
      font-size: 1.25rem;
      height: calc(1.25rem*1.5);
      min-width: calc(1.25rem*1.5);
      line-height: calc(1.25rem/2);
      border-radius: calc(1.25rem*.75); }
      @media screen and (min-width: 48rem) {
        ul.primaryNavIconList li.primaryNavIconList__item span {
          right: 6rem; } }
    ul.primaryNavIconList li.primaryNavIconList__item img {
      width: 3rem;
      height: 3rem; }

#profileDropDown ul.dropdown-menu .divider {
  margin: 0px; }

#profileDropDown ul.dropdown-menu li {
  margin: .5rem 0 .5rem 0; }

