@import "./shared/_definitions.scss";

#primaryNav {
    position: fixed;
    z-index: 2;
    height: $primaryNavHeightSm;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    border-bottom: 2px solid #c9c9c9;
    padding: 0 1rem;
    top: 0;


    @media screen and (min-width: 48rem) {
        height: $primaryNavHeightLg;
    }
}

a.primaryNavHome {
    display: flex;
    text-decoration: none;
    align-items: center;

    img.primaryNavHome__logo--mobile {
        display: block;
        height: $logoHeight;
        width: auto;
        margin-right: 0.325rem;
    }

    img.primaryNavHome__logo {
        display: none;
    }

    > p{
        line-height: $logoHeight;
        height: $logoHeight;
        color: $DW_Green;
        font-size: 2rem;
        font-weight: 300;
        margin: 0 0 0 0; //die bootstrap die
        padding: 0 0 0 0; //die bootstrap die
        padding-left: 0.5rem;
        margin-left: 0.5rem;
        border-left: 1px solid #acacac;
    }

    @media screen and (min-width: 48rem) {
        margin-left: 0.5rem;

        img.primaryNavHome__logo--mobile {
            display: none;
        }

        img.primaryNavHome__logo {
            display: block;
            height: $logoHeight;
            width: auto;
            padding-right: 0.325rem;
        }
    }
}

ul.primaryNavIconList {
    list-style: none;
    display: flex;
    margin-bottom: 0;
    padding: 0 0 0 0;

    li.primaryNavIconList__item {
        position: relative;
        height: calc(#{$logoHeight} + 1rem);
        margin-right: 1rem;
        padding: 0.5rem 1rem;

        &:last-child {
            margin-right: 0rem;
        }

        span {
            $notificationsSize: 1.25rem;

            position: absolute;
            top: 0;
            right: 0;
            background-color: $DW_Red;
            color: white;
            padding: calc(#{$notificationsSize}/2);
            font-size: $notificationsSize;
            height: calc(#{$notificationsSize}*1.5);
            min-width: calc(#{$notificationsSize}*1.5);
            line-height: calc(#{$notificationsSize}/2);
            border-radius: calc(#{$notificationsSize}*.75);
        }

        img {
            width: $logoHeight;
            height: $logoHeight;
        }
    }
}
