@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_Common.cshtml";
}

<div id="list">
    <div id="search">
            <input /><button>Search</button>
        </div>
    <div>
        <table class="desktop">
            <thead>
                <tr>
                    <th class="first">
                        <img class="arrow up" src="~/Content/Images/icn_up_arrow.png"/>
                        <img class="arrow down noinit" src="~/Content/Images/icn_down_arrow.png" />
                    </th>
                    <th class="second">
                        <img class="arrow up" src="~/Content/Images/icn_up_arrow.png" />
                        <img class="arrow down noinit" src="~/Content/Images/icn_down_arrow.png" />
                    </th>
                    <th class="third">
                        <img class="arrow up" src="~/Content/Images/icn_up_arrow.png" />
                        <img class="arrow down noinit" src="~/Content/Images/icn_down_arrow.png" />
                    </th>
                    <th class="fourth">
                        <img class="arrow up" src="~/Content/Images/icn_up_arrow.png" />
                        <img class="arrow down noinit" src="~/Content/Images/icn_down_arrow.png" />
                    </th>
                    <th class="fifth">
                        <img class="arrow up" src="~/Content/Images/icn_up_arrow.png" />
                        <img class="arrow down noinit" src="~/Content/Images/icn_down_arrow.png" />
                    </th>
                    <th class="sixth">
                        <img class="arrow up" src="~/Content/Images/icn_up_arrow.png" />
                        <img class="arrow down noinit" src="~/Content/Images/icn_down_arrow.png" />
                    </th>
                    <th class="seventh">
                        <img class="arrow up" src="~/Content/Images/icn_up_arrow.png" />
                        <img class="arrow down noinit" src="~/Content/Images/icn_down_arrow.png" />
                    </th>
                </tr>
            </thead>
            <tbody> 
            </tbody>
        </table>
        <table class="tablet">
            <thead>
                <tr>
                    <th class="first">
                        <img class="arrow up" src="~/Content/Images/icn_up_arrow.png" />
                        <img class="arrow down noinit" src="~/Content/Images/icn_down_arrow.png" />
                    </th>
                    <th class="second">
                        <img class="arrow up" src="~/Content/Images/icn_up_arrow.png" />
                        <img class="arrow down noinit" src="~/Content/Images/icn_down_arrow.png" />
                    </th>
                    <th class="third">
                        <img class="arrow up" src="~/Content/Images/icn_up_arrow.png" />
                        <img class="arrow down noinit" src="~/Content/Images/icn_down_arrow.png" />
                    </th>
                    <th class="fourth">
                        <img class="arrow up" src="~/Content/Images/icn_up_arrow.png" />
                        <img class="arrow down noinit" src="~/Content/Images/icn_down_arrow.png" />
                    </th>
                    <th class="fifth">
                        <img class="arrow up" src="~/Content/Images/icn_up_arrow.png" />
                        <img class="arrow down noinit" src="~/Content/Images/icn_down_arrow.png" />
                    </th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
        <table class="mobile">
            <thead>
                <tr>
                    <th class="first">
                        <img class="arrow up" src="~/Content/Images/icn_up_arrow.png" />
                        <img class="arrow down noinit" src="~/Content/Images/icn_down_arrow.png" />
                    </th>
                    <th class="second">
                        <img class="arrow up" src="~/Content/Images/icn_up_arrow.png" />
                        <img class="arrow down noinit" src="~/Content/Images/icn_down_arrow.png" />
                    </th>
                    <th class="third">
                        <img class="arrow up" src="~/Content/Images/icn_up_arrow.png" />
                        <img class="arrow down noinit" src="~/Content/Images/icn_down_arrow.png" />
                    </th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
</div>

@Styles.Render("~/Styling/home")
@Scripts.Render("~/Scripts/home")

@section scripts
{
    <script>
        $(document).ready(HomePageController.HomePageInit);
    </script>
}