@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_Common.cshtml";
}

<div id="list">
    <div id="search">
            <input /><button>Search</button>
        </div>
    <div>
        <table class="desktop">
            <thead>
                    <tr>
                        <th class="first"><span class="arrow arrow_up"></span></th>
                        <th class="second"><span class="arrow arrow_up"></span></th>
                        <th class="third"><span class="arrow arrow_up"></span></th>
                        <th class="fourth"><span class="arrow arrow_up"></span></th>
                        <th class="fifth"><span class="arrow arrow_up"></span></th>
                        <th class="sixth"><span class="arrow arrow_up"></span></th>
                        <th class="seventh"><span class="arrow arrow_up"></span></th>
                     </tr>
                </thead>
            <tbody>
                    <tr>
                        <td>
                            <p>Victoria A. Sporer</p>
                            <p class="Callout">Cartus</p>
                            <p>Amazon.com INC</p>
                        </td>
                        <td>
                            <div class="actlist-item-hdr"><img src="~/Content/Images/collapse.png" /></div>
                            <div class="actlist-item-hdr">
                                <p>SS</p>
                                <a href="#">02</a>
                            </div>
                            <div class="actlist-item-hdr">
                                <p>S</p>
                                <a href="#">01</a>
                            </div>
                            <div class="actlist-item-hdr">
                                <p>C</p>
                                <a href="#">00</a>
                            </div>
                            <div class="actlist-item-blk">
                                <p class="actlist-item">Pick up</p>
                                <p>10/15/17</p>
                            </div>
                            <div class="actlist-item-blk">
                                <p class="actlist-item">Visit 1st Home</p>
                                <p>10/15/17</p>
                            </div>
                        </td>
                        <td><p>Last Contacted</p><p>09/22/17</p></td>
                        <td>
                            <p>Manager</p>
                            <p class="Callout">Jane Doese</p>
                            <p>321-23432</p>
                        </td>
                        <td><p>PreTrip</p><p>10/15/17</p></td>
                        <td><p>Final Arrival</p><p>2/10/18</p></td>
                        <td><img src="~/Content/Images/icn_notification_2.png" /></td>
                    </tr>
                    <tr>
                        <td>
                            <p>Lila C. Smith</p>
                            <p class="Callout">Cartus</p>
                            <p>Tesla, Inc</p>
                        </td>
                        <td>
                            <div class="actlist-item-hdr"><img src="~/Content/Images/expand.png" /></div>
                            <div class="actlist-item-hdr">
                                <p>SS</p>
                                <a href="#">02</a>
                            </div>
                            <div class="actlist-item-hdr">
                                <p>S</p>
                                <a href="#">01</a>
                            </div>
                            <div class="actlist-item-hdr">
                                <p>C</p>
                                <a href="#">00</a>
                            </div>
                        </td>
                        <td><p>Last Contacted</p><p>09/09/17</p></td>
                        <td>
                            <p>Manager</p>
                            <p class="Callout">Austin Emser</p>
                            <p>321-23432</p>
                        </td>
                        <td><p>PreTrip</p><p>10/15/17</p></td>
                        <td><p>Final Arrival</p><p>2/10/18</p></td>
                        <td><img src="~/Content/Images/icn_notification_2.png" /></td>
                    </tr>
                    <tr>
                        <td>
                            <p>Joseph S. Jackson</p>
                            <p class="Callout">Cartus</p>
                            <p>Amazon.com INC</p>
                        </td>
                        <td>
                            <div class="actlist-item-hdr"><img src="~/Content/Images/expand.png" /></div>
                            <div class="actlist-item-hdr">
                                <p>SS</p>
                                <a href="#">02</a>
                            </div>
                            <div class="actlist-item-hdr">
                                <p>S</p>
                                <a href="#">01</a>
                            </div>
                            <div class="actlist-item-hdr">
                                <p>C</p>
                                <a href="#">00</a>
                            </div>
                        </td>
                        <td><p>Last Contacted</p><p>08/12/17</p></td>
                        <td>
                            <p>Manager</p>
                            <p class="Callout">Alexandra Kovanen</p>
                            <p>321-23432</p>
                        </td>
                        <td><p>PreTrip</p><p>10/15/17</p></td>
                        <td><p>Final Arrival</p><p>2/10/18</p></td>
                        <td><img src="~/Content/Images/icn_notification_2.png" /></td>
                    </tr>
                    <tr>
                        <td>
                            <p>Helen A. Gutierrez</p>
                            <p class="Callout">Cartus</p>
                            <p>Tesla, Inc</p>
                        </td>
                        <td>
                            <div class="actlist-item-hdr"><img src="~/Content/Images/expand.png" /></div>
                            <div class="actlist-item-hdr">
                                <p>SS</p>
                                <a href="#">02</a>
                            </div>
                            <div class="actlist-item-hdr">
                                <p>S</p>
                                <a href="#">01</a>
                            </div>
                            <div class="actlist-item-hdr">
                                <p>C</p>
                                <a href="#">00</a>
                            </div>
                        </td>
                        <td><p>Last Contacted</p><p>08/02/17</p></td>
                        <td>
                            <p>Manager</p>
                            <p class="Callout">Joseph Jones</p>
                        </td>
                        <td><p>PreTrip</p><p>10/15/17</p></td>
                        <td><p>Final Arrival</p><p>2/10/18</p></td>
                        <td><img src="~/Content/Images/icn_notification_2.png" /></td>
                    </tr>
                    <tr>
                        <td>
                            <p>Ricky L.Stanley</p>
                            <p class="Callout">Cartus</p>
                            <p>Amazon.com INC</p>
                        </td>
                        <td>
                            <div class="actlist-item-hdr"><img src="~/Content/Images/expand.png" /></div>
                            <div class="actlist-item-hdr">
                                <p>SS</p>
                                <a href="#">02</a>
                            </div>
                            <div class="actlist-item-hdr">
                                <p>S</p>
                                <a href="#">01</a>
                            </div>
                            <div class="actlist-item-hdr">
                                <p>C</p>
                                <a href="#">00</a>
                            </div>
                        </td>
                        <td><p>Last Contacted</p><p>07/22/17</p></td>
                        <td>
                            <p>Manager</p>
                            <p class="Callout">Katy Smith</p>
                            <p>321-23432</p>
                        </td>
                        <td><p>PreTrip</p><p>10/15/17</p></td>
                        <td><p>Final Arrival</p><p>2/10/18</p></td>
                        <td><img src="~/Content/Images/icn_notification_2.png" /></td>
                    </tr>
                    <tr>
                        <td>
                            <p>John D. Fludd</p>
                            <p class="Callout">Cartus</p>
                            <p>Amazon.com INC</p>
                        </td>
                        <td>
                            <div class="actlist-item-hdr"><img src="~/Content/Images/expand.png" /></div>
                            <div class="actlist-item-hdr">
                                <p>SS</p>
                                <a href="#">02</a>
                            </div>
                            <div class="actlist-item-hdr">
                                <p>S</p>
                                <a href="#">01</a>
                            </div>
                            <div class="actlist-item-hdr">
                                <p>C</p>
                                <a href="#">00</a>
                            </div>
                        </td>
                        <td><p>Last Contacted</p><p>07/20/17</p></td>
                        <td>
                            <p>Manager</p>
                            <p class="Callout">Zander Gilley</p>
                            <p>321-23432</p>
                        </td>
                        <td><p>PreTrip</p><p>10/15/17</p></td>
                        <td><p>Final Arrival</p><p>2/10/18</p></td>
                        <td><img src="~/Content/Images/icn_notification_2.png" /></td>
                    </tr>
                    <tr>
                        <td>
                            <p>Margaret A. Cooley</p>
                            <p class="Callout">Cartus</p>
                            <p>Tesla, Inc</p>
                        </td>
                        <td>
                            <div class="actlist-item-hdr"><img src="~/Content/Images/expand.png" /></div>
                            <div class="actlist-item-hdr">
                                <p>SS</p>
                                <a href="#">02</a>
                            </div>
                            <div class="actlist-item-hdr">
                                <p>S</p>
                                <a href="#">01</a>
                            </div>
                            <div class="actlist-item-hdr">
                                <p>C</p>
                                <a href="#">00</a>
                            </div>
                        </td>
                        <td><p>Last Contacted</p><p>07/15/17</p></td>
                        <td>
                            <p>Manager</p>
                            <p class="Callout">Patricia Applesmith</p>
                            <p>321-23432</p>
                        </td>
                        <td><p>PreTrip</p><p>10/15/17</p></td>
                        <td><p>Final Arrival</p><p>2/10/18</p></td>
                        <td><img src="~/Content/Images/icn_notification_2.png" /></td>
                    </tr>
                </tbody>
        </table>
        <table class="tablet">
            <thead>
                <tr>
                    <th class="first"><span class="arrow arrow_up"></span></th>
                    <th class="second"><span class="arrow arrow_up"></span></th>
                    <th class="third"><span class="arrow arrow_up"></span></th>
                    <th class="fourth"><span class="arrow arrow_up"></span></th>
                    <th class="fifth"><span class="arrow arrow_up"></span></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <p>Victoria A. Sporer</p>
                        <p class="Callout">Cartus</p>
                        <p>Amazon.com INC</p>
                        <div>
                            <span class="tablet-column-label">PreTrip:</span><span>10/15/17</span><br />
                            <span class="tablet-column-label">Final Arrival:</span><span>2/10/18</span>
                        </div>
                    </td>
                    <td>
                        <p>Manager</p>
                        <p class="Callout">Jane Doese</p>
                        <p>321-23432</p>
                    </td>
                    <td><p>Last Contacted</p><p>09/22/17</p></td>
                    <td>
                        <div class="actlist-item-hdr"><img src="~/Content/Images/collapse.png" /></div>
                        <div class="actlist-item-hdr">
                            <p>SS</p>
                            <a href="#">02</a>
                        </div>
                        <div class="actlist-item-hdr">
                            <p>S</p>
                            <a href="#">01</a>
                        </div>
                        <div class="actlist-item-hdr">
                            <p>C</p>
                            <a href="#">00</a>
                        </div>
                        <div class="actlist-item-blk">
                            <p class="actlist-item">Pick up</p>
                            <p>10/15/17</p>
                        </div>
                        <div class="actlist-item-blk">
                            <p class="actlist-item">Visit 1st Home</p>
                            <p>10/15/17</p>
                        </div>
                    </td>
                    <td><img src="~/Content/Images/icn_notification_2.png" /></td>
                </tr>
                <tr>
                    <td>
                        <p>Lila C. Smith</p>
                        <p class="Callout">Cartus</p>
                        <p>Tesla, Inc</p>
                        <div>
                            <span class="tablet-column-label">PreTrip:</span><span>10/15/17</span><br />
                            <span class="tablet-column-label">Final Arrival:</span><span>2/10/18</span>
                        </div>
                    </td>
                    <td>
                        <p>Manager</p>
                        <p class="Callout">Austin Emser</p>
                        <p>321-23432</p>
                    </td>
                    <td><p>Last Contacted</p><p>09/09/17</p></td>
                    <td>
                        <div class="actlist-item-hdr"><img src="~/Content/Images/expand.png" /></div>
                        <div class="actlist-item-hdr">
                            <p>SS</p>
                            <a href="#">02</a>
                        </div>
                        <div class="actlist-item-hdr">
                            <p>S</p>
                            <a href="#">01</a>
                        </div>
                        <div class="actlist-item-hdr">
                            <p>C</p>
                            <a href="#">00</a>
                        </div>
                     </td>
                    <td><img src="~/Content/Images/icn_notification_2.png" /></td>
                </tr>
                <tr>
                    <td>
                        <p>Joseph S. Jackson</p>
                        <p class="Callout">Cartus</p>
                        <p>Amazon.com INC</p>
                        <div>
                            <span class="tablet-column-label">PreTrip:</span><span>10/15/17</span><br />
                            <span class="tablet-column-label">Final Arrival:</span><span>2/10/18</span>
                        </div>
                    </td>
                    <td>
                        <p>Manager</p>
                        <p class="Callout">Alexandra Kovanen</p>
                        <p>321-23432</p>
                    </td>
                    <td><p>Last Contacted</p><p>08/12/17</p></td>
                    <td>
                        <div class="actlist-item-hdr"><img src="~/Content/Images/expand.png" /></div>
                        <div class="actlist-item-hdr">
                            <p>SS</p>
                            <a href="#">02</a>
                        </div>
                        <div class="actlist-item-hdr">
                            <p>S</p>
                            <a href="#">01</a>
                        </div>
                        <div class="actlist-item-hdr">
                            <p>C</p>
                            <a href="#">00</a>
                        </div>
                    </td>
                    <td><img src="~/Content/Images/icn_notification_2.png" /></td>
                </tr>
                <tr>
                    <td>
                        <p>Helen A. Gutierrez</p>
                        <p class="Callout">Cartus</p>
                        <p>Tesla, Inc</p>
                        <div>
                            <span class="tablet-column-label">PreTrip:</span><span>10/15/17</span><br />
                            <span class="tablet-column-label">Final Arrival:</span><span>2/10/18</span>
                        </div>
                    </td>
                    <td>
                        <p>Manager</p>
                        <p class="Callout">Joseph Jones</p>
                        <p>321-23432</p>
                    </td>
                    <td><p>Last Contacted</p><p>08/02/17</p></td>
                    <td>
                        <div class="actlist-item-hdr"><img src="~/Content/Images/expand.png" /></div>
                        <div class="actlist-item-hdr">
                            <p>SS</p>
                            <a href="#">02</a>
                        </div>
                        <div class="actlist-item-hdr">
                            <p>S</p>
                            <a href="#">01</a>
                        </div>
                        <div class="actlist-item-hdr">
                            <p>C</p>
                            <a href="#">00</a>
                        </div>
                    </td>
                    <td><img src="~/Content/Images/icn_notification_2.png" /></td>
                </tr>
                <tr>
                    <td>
                        <p>Ricky L.Stanley</p>
                        <p class="Callout">Cartus</p>
                        <p>Amazon.com INC</p>
                        <div>
                            <span class="tablet-column-label">PreTrip:</span><span>10/15/17</span><br />
                            <span class="tablet-column-label">Final Arrival:</span><span>2/10/18</span>
                        </div>
                    </td>
                    <td>
                        <p>Manager</p>
                        <p class="Callout">Katy Smith</p>
                        <p>321-23432</p>
                    </td>
                    <td><p>Last Contacted</p><p>07/22/17</p></td>
                    <td>
                        <div class="actlist-item-hdr"><img src="~/Content/Images/expand.png" /></div>
                        <div class="actlist-item-hdr">
                            <p>SS</p>
                            <a href="#">02</a>
                        </div>
                        <div class="actlist-item-hdr">
                            <p>S</p>
                            <a href="#">01</a>
                        </div>
                        <div class="actlist-item-hdr">
                            <p>C</p>
                            <a href="#">00</a>
                        </div>
                    </td>
                    <td><img src="~/Content/Images/icn_notification_2.png" /></td>
                </tr>
                <tr>
                    <td>
                        <p>John D. Fludd</p>
                        <p class="Callout">Cartus</p>
                        <p>Amazon.com INC</p>
                        <div>
                            <span class="tablet-column-label">PreTrip:</span><span>10/15/17</span><br />
                            <span class="tablet-column-label">Final Arrival:</span><span>2/10/18</span>
                        </div>
                    </td>
                    <td>
                        <p>Manager</p>
                        <p class="Callout">Zander Gilley</p>
                        <p>321-23432</p>
                    </td>
                    <td><p>Last Contacted</p><p>07/20/17</p></td>
                    <td>
                        <div class="actlist-item-hdr"><img src="~/Content/Images/expand.png" /></div>
                        <div class="actlist-item-hdr">
                            <p>SS</p>
                            <a href="#">02</a>
                        </div>
                        <div class="actlist-item-hdr">
                            <p>S</p>
                            <a href="#">01</a>
                        </div>
                        <div class="actlist-item-hdr">
                            <p>C</p>
                            <a href="#">00</a>
                        </div>
                    </td>
                    <td><img src="~/Content/Images/icn_notification_2.png" /></td>
                </tr>
                <tr>
                    <td>
                        <p>Margaret A. Cooley</p>
                        <p class="Callout">Cartus</p>
                        <p>Tesla, Inc</p>
                        <div>
                            <span class="tablet-column-label">PreTrip:</span><span>10/15/17</span><br />
                            <span class="tablet-column-label">Final Arrival:</span><span>2/10/18</span>
                        </div>
                    </td>
                    <td>
                        <p>Manager</p>
                        <p class="Callout">Patricia Applesmith</p>
                        <p>321-23432</p>
                    </td>
                    <td><p>Last Contacted</p><p>07/15/17</p></td>
                    <td>
                        <div class="actlist-item-hdr"><img src="~/Content/Images/expand.png" /></div>
                        <div class="actlist-item-hdr">
                            <p>SS</p>
                            <a href="#">02</a>
                        </div>
                        <div class="actlist-item-hdr">
                            <p>S</p>
                            <a href="#">01</a>
                        </div>
                        <div class="actlist-item-hdr">
                            <p>C</p>
                            <a href="#">00</a>
                        </div>
                    </td>
                    <td><img src="~/Content/Images/icn_notification_2.png" /></td>
                </tr>
            </tbody>
        </table>
        <table class="mobile">
            <thead>
                <tr>
                    <th class="first"><span class="arrow arrow_up"></span></th>
                    <th class="second"><span class="arrow arrow_up"></span></th>
                    <th class="third"><span class="arrow arrow_up"></span></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <p>Victoria A. Sporer</p>
                        <p class="Callout">Cartus</p>
                        <p>Amazon.com INC</p>
                        <div>
                            <span class="tablet-column-label">PreTrip:</span><span>10/15/17</span><br />
                            <span class="tablet-column-label">Final Arrival:</span><span>2/10/18</span>
                        </div>
                        <div>
                            <span class="tablet-column-label">Manager:</span>
                            <span class="Callout">Jane Doese</span>
                            <p class="mobile-phone">321-23432</p>
                        </div>
                    </td>
                    <td>
                        <p>Last Contacted</p><p>09/22/17</p>
                        <div>
                            <div class="actlist-item-hdr"><img src="~/Content/Images/collapse.png" /></div>
                            <div class="actlist-item-hdr">
                                <p>SS</p>
                                <a href="#">02</a>
                            </div>
                            <div class="actlist-item-hdr">
                                <p>S</p>
                                <a href="#">01</a>
                            </div>
                            <div class="actlist-item-hdr">
                                <p>C</p>
                                <a href="#">00</a>
                            </div>
                            <div class="actlist-item-blk">
                                <p class="actlist-item">Pick up</p>
                                <p>10/15/17</p>
                            </div>
                            <div class="actlist-item-blk">
                                <p class="actlist-item">Visit 1st Home</p>
                                <p>10/15/17</p>
                            </div>
                        </div>
                    </td>
                    <td><img src="~/Content/Images/icn_notification_2.png" /></td>
                </tr>
                <tr>
                    <td>
                        <p>Lila C. Smith</p>
                        <p class="Callout">Cartus</p>
                        <p>Tesla, Inc</p>
                        <div>
                            <span class="tablet-column-label">PreTrip:</span><span>10/15/17</span><br />
                            <span class="tablet-column-label">Final Arrival:</span><span>2/10/18</span>
                        </div>
                        <div>
                            <span class="tablet-column-label">Manager:</span><span class="Callout">Austin Emser</span>
                            <p class="mobile-phone">321-23432</p>
                        </div>
                    </td>
                    <td>
                        <p>Last Contacted</p><p>09/22/17</p>
                        <div>
                            <div class="actlist-item-hdr"><img src="~/Content/Images/expand.png" /></div>
                            <div class="actlist-item-hdr">
                                <p>SS</p>
                                <a href="#">02</a>
                            </div>
                            <div class="actlist-item-hdr">
                                <p>S</p>
                                <a href="#">01</a>
                            </div>
                            <div class="actlist-item-hdr">
                                <p>C</p>
                                <a href="#">00</a>
                            </div>
                        </div>
                    </td>
                    <td><img src="~/Content/Images/icn_notification_2.png" /></td>
                </tr>
                <tr>
                    <td>
                        <p>Joseph S. Jackson</p>
                        <p class="Callout">Cartus</p>
                        <p>Amazon.com INC</p>
                        <div>
                            <span class="tablet-column-label">PreTrip:</span><span>10/15/17</span><br />
                            <span class="tablet-column-label">Final Arrival:</span><span>2/10/18</span>
                        </div>
                        <div>
                            <span class="tablet-column-label">Manager:</span><span class="Callout">Alexandra Kovanen</span>
                            <p class="mobile-phone">321-23432</p>
                        </div>
                    </td>
                    <td>
                        <p>Last Contacted</p><p>08/12/17</p>
                        <div>
                            <div class="actlist-item-hdr"><img src="~/Content/Images/expand.png" /></div>
                            <div class="actlist-item-hdr">
                                <p>SS</p>
                                <a href="#">02</a>
                            </div>
                            <div class="actlist-item-hdr">
                                <p>S</p>
                                <a href="#">01</a>
                            </div>
                            <div class="actlist-item-hdr">
                                <p>C</p>
                                <a href="#">00</a>
                            </div>
                        </div>
                    </td>
                    <td><img src="~/Content/Images/icn_notification_2.png" /></td>
                </tr>
                <tr>
                    <td>
                        <p>Helen A. Gutierrez</p>
                        <p class="Callout">Cartus</p>
                        <p>Tesla, Inc</p>
                        <div>
                            <span class="tablet-column-label">PreTrip:</span><span>10/15/17</span><br />
                            <span class="tablet-column-label">Final Arrival:</span><span>2/10/18</span>
                        </div>
                        <div>
                            <span class="tablet-column-label">Manager:</span><span class="Callout">Joseph Jones</span>
                            <p class="mobile-phone">321-23432</p>
                        </div>
                    </td>
                    <td>
                        <p>Last Contacted</p><p>09/22/17</p>
                        <div>
                            <div class="actlist-item-hdr"><img src="~/Content/Images/expand.png" /></div>
                            <div class="actlist-item-hdr">
                                <p>SS</p>
                                <a href="#">02</a>
                            </div>
                            <div class="actlist-item-hdr">
                                <p>S</p>
                                <a href="#">01</a>
                            </div>
                            <div class="actlist-item-hdr">
                                <p>C</p>
                                <a href="#">00</a>
                            </div>
                        </div>
                    </td>
                    <td><img src="~/Content/Images/icn_notification_2.png" /></td>
                </tr>
                <tr>
                    <td>
                        <p>Ricky L.Stanley</p>
                        <p class="Callout">Cartus</p>
                        <p>Amazon.com INC</p>
                        <div>
                            <span class="tablet-column-label">PreTrip:</span><span>10/15/17</span><br />
                            <span class="tablet-column-label">Final Arrival:</span><span>2/10/18</span>
                        </div>
                        <div>
                            <span class="tablet-column-label">Manager:</span><span class="Callout">Katy Smith</span>
                            <p class="mobile-phone">321-23432</p>
                        </div>
                    </td>
                    <td>
                        <p>Last Contacted</p><p>08/12/17</p>
                        <div>
                            <div class="actlist-item-hdr"><img src="~/Content/Images/expand.png" /></div>
                            <div class="actlist-item-hdr">
                                <p>SS</p>
                                <a href="#">02</a>
                            </div>
                            <div class="actlist-item-hdr">
                                <p>S</p>
                                <a href="#">01</a>
                            </div>
                            <div class="actlist-item-hdr">
                                <p>C</p>
                                <a href="#">00</a>
                            </div>
                        </div>
                    </td>
                    <td><img src="~/Content/Images/icn_notification_2.png" /></td>
                </tr>
                <tr>
                    <td>
                        <p>John D. Fludd</p>
                        <p class="Callout">Cartus</p>
                        <p>Amazon.com INC</p>
                        <div>
                            <span class="tablet-column-label">PreTrip:</span><span>10/15/17</span><br />
                            <span class="tablet-column-label">Final Arrival:</span><span>2/10/18</span>
                        </div>
                        <div>
                            <span class="tablet-column-label">Manager:</span><span class="Callout">Zander Gilley</span>
                            <p class="mobile-phone">321-23432</p>
                        </div>
                    </td>
                    <td>
                        <p>Last Contacted</p><p>08/12/17</p>
                        <div>
                            <div class="actlist-item-hdr"><img src="~/Content/Images/expand.png" /></div>
                            <div class="actlist-item-hdr">
                                <p>SS</p>
                                <a href="#">02</a>
                            </div>
                            <div class="actlist-item-hdr">
                                <p>S</p>
                                <a href="#">01</a>
                            </div>
                            <div class="actlist-item-hdr">
                                <p>C</p>
                                <a href="#">00</a>
                            </div>
                        </div>
                    </td>
                    <td><img src="~/Content/Images/icn_notification_2.png" /></td>
                </tr>
                <tr>
                    <td>
                        <p>Margaret A. Cooley</p>
                        <p class="Callout">Cartus</p>
                        <p>Tesla, Inc</p>
                        <div>
                            <span class="tablet-column-label">PreTrip:</span><span>10/15/17</span><br />
                            <span class="tablet-column-label">Final Arrival:</span><span>2/10/18</span>
                        </div>
                        <div>
                            <span class="tablet-column-label">Manager:</span><span class="Callout">Patricia Applesmith</span>
                            <p class="mobile-phone">321-23432</p>
                        </div>
                    </td>
                    <td>
                        <p>Last Contacted</p><p>08/12/17</p>
                        <div>
                            <div class="actlist-item-hdr"><img src="~/Content/Images/expand.png" /></div>
                            <div class="actlist-item-hdr">
                                <p>SS</p>
                                <a href="#">02</a>
                            </div>
                            <div class="actlist-item-hdr">
                                <p>S</p>
                                <a href="#">01</a>
                            </div>
                            <div class="actlist-item-hdr">
                                <p>C</p>
                                <a href="#">00</a>
                            </div>
                        </div>
                    </td>
                    <td><img src="~/Content/Images/icn_notification_2.png" /></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

@Styles.Render("~/Styling/home")
@Scripts.Render("~/Scripts/home")