@model Odin.ViewModels.Mailers.SetNewPasswordViewModel
@{
    Layout = "";
}
<!DOCTYPE html>

<html>
<head>
    <title></title>
</head>
<body style="padding-top: 0px;">
    <div style="top: 0px;  width: 100%;  padding: 0px;  position: fixed;display:block" class="container body-content">
        <div class="row">
            <div style="width: 626px; margin:auto; text-align:center; padding-top:5px; margin-top:80px; padding-bottom:12px; background-color:white; border:1px solid;" class="col mailer">
                <div id="dwellworks" class="mailer" style="margin-top: 40px;text-align:center;display:block">
                    <img src=@Url.Content("~/Content/Images/dwellworks_icon.png", true) style="vertical-align:middle;text-align:center;border:0">
                    <p style="border-left: 1px solid gray;margin-left: 4px;top:-2px;height: 21px;position:relative;display:inline-block;line-height:1.846;margin: 0 0 1em;">&nbsp;</p>
                    <p style="top:-3px;color:#4bad48;font-size:20px;font-family:sans-serif;line-height:1.846;display:inline-block;margin: 0 0 1em;text-align:center;letter-spacing:0.1px">Odin</p>
                </div>
                @using (Html.BeginForm("CreatePassword", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                    @Html.AntiForgeryToken()
                    <div style="margin-top: 72px;font-size: 36px;line-height: 50px;font-family: sans-serif;" id="caption">
                        <span>Create your</span><span id="pw" style="color: #31A4DD;"> Password</span>
                        <div style="width: 344px;margin: auto;font-size:initial;line-height: 22px;margin-top: 14px;" class="mailer">
                            <p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi.</p>
                        </div>
                    </div>
                    <div id="group-blk" style="padding-top: 0px;" class="mailer">
                        <div style="padding-left:15px;padding-right:15px;" class="form-group">
                            <div style="padding-left: 0;font-size: 14px;width: 100%;" class="col-md-10">
                                <a clicktracking="off" style="box-shadow:none;background-color:#4BAD48; color:white; width:200px; margin-top:40px; line-height:20px;text-transform:capitalize" class="btn btn-default" href=@Model.Link>Create Password</a>
                            </div>

                            <div style="margin-top: 110px;line-height: 10px;font-weight: 500;" class="col-md-10 mailer">
                                <p>&copy; 2017 Dwellworks, LLC. All Rights Reserved.</p>
                                <p>Privacy Policy | Code of Conduct</p>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</body>
</html>