<!DOCTYPE html>

<html>
<head>
    <title></title>
</head>
<body>
    <H2>Hello @Model.Name</H2>
    <P>Click <a clicktracking="off" href=@Model.Link>here</a> to create a password for your Dwellworks account.</P>
</body>
</html>