@model bool?

<div class="likeDislike row" data-property-id="@ViewData["propertyId"]" data-liked="@Model">
    <div class="like col-xs-6" data-property-id="@ViewData["propertyId"]" />
    <div class="dislike col-xs-6" data-property-id="@ViewData["propertyId"]" />
</div>
