@model bool?
@{ 
    var likeStatusClass = "";
    if (Model.HasValue) {
        likeStatusClass = Model.Value ? "like" : "dislike";
    }
}
    <div class="likeDislike row @likeStatusClass" data-property-id="@ViewData["propertyId"]">
        <div class="like col-xs-6" data-property-id="@ViewData["propertyId"]" />
        <div class="dislike col-xs-6" data-property-id="@ViewData["propertyId"]" />
    </div>
