@{
    Layout = "~/Views/BookMarklet/Shared/_BookMarklet.cshtml";
}

<div class="bm-container">
    <h3 class="bm-message">Yay!</h3>
    <h5 class="bm-message">
        The property has been added!  It should appear under the transferee shortly!
    </h5>
</div>

