
@model Odin.ViewModels.BookMarklet.BookMarkletErrorViewModel
@{
    Layout = "~/Views/BookMarklet/Shared/_BookMarklet.cshtml";
}
<div class="bm-container">
    <h3 class="bm-message bm-header">@Model.Header</h3>
    <h5 class="bm-message">@Model.Message</h5>
</div>

