<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>There has been an error</title>
    <link rel="stylesheet" src="/Content/styles/application.css" />
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400" rel="stylesheet">
</head>
<body>
    <h1 style="font-family: 'Open Sans', sans-serif; font-weight: 300; color: rgb(100,100,100)">Something went wrong...</h1>
    <p style="font-family: 'Open Sans', sans-serif; font-weight: 300; color: rgb(50,50,50)">Try refreshing the page or contact Dwellworks for assistance.</p>
</body>
</html>