/*body {
    /*padding-top: 90px;
    padding-bottom: 20px;*/
    
    
    /*padding: 0 0 0 0;
}*/

/* Set padding to keep content from hitting the edges */
/*.body-content {
    padding-left: 15px;
    padding-right: 15px;
}*/



/*#scheduledServices .btn-primary {
    border-radius: 50%;
}*/


/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
/*.dl-horizontal dt {
    white-space: normal;
}*/






