body {
    /*padding-top: 90px;
    padding-bottom: 20px;*/
    padding: 0 0 0 0;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}


.navbar-default .notifications {
    position: relative;
}


    .navbar-default .notifications .badge {
        position: absolute;
        top: 8px;
        right: -1px;
        background: #a80a0a;
    }

.voffset {
    margin-top: 2px;
}

.voffset1 {
    margin-top: 5px;
}

.voffset2 {
    margin-top: 10px;
}

.voffset3 {
    margin-top: 20px;
}

.voffset4 {
    margin-top: 40px;
}

.voffset5 {
    margin-top: 80px;
}

/* Page-level styles */

.page-content {
    padding-top: 12rem;
}

.transferee-sidenav {
    position: absolute;
    top: 0;
    left: 0;
    padding-top: 15rem;
}

.transferee-list > div .transferee {
    font-weight: 400;
    font-size: 14px;
}

.transferee-list > div a:hover {
    text-decoration: none;
}

.transferee-list > div .user-image {
    display: inline-block;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.placeholder-image {
    background-image: url('/Content/Images/user-placeholder.png');
}

.blue {
    color: dodgerblue;
}

.glyphicon-large {
    font-size: 25px;
}

.small-label {
    font-size: 10px;
    font-weight: 400;
    margin-bottom: 0;
}

.grey-header {
    color: darkgrey;
}

