@{
    Layout = "";
}
<!DOCTYPE html>
<html>
<head>
    @Styles.Render("~/Content/cssBundle")
    @Scripts.Render("~/bundles/modernizr")
    @Styles.Render("~/Styling/bookmarklet")
</head>
<body>
    @RenderBody()
</body>
</html>

